@import url(foundation.css);
/* line 5, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 23, ../sass/_typography.sass */
h1 {
  font-family: "Crimson Text", Georgia, "Times New Roman", serif;
  font-color: #5E5E5E;
  font-size: 2.8em;
  line-height: 2em;
}

/* line 25, ../sass/_typography.sass */
h2 {
  font-family: "Crimson Text", Georgia, "Times New Roman", serif;
  font-color: #5E5E5E;
  font-size: 2.5em;
  line-height: 1.7em;
}

/* line 27, ../sass/_typography.sass */
h3 {
  font-family: "Crimson Text", Georgia, "Times New Roman", serif;
  font-color: #5E5E5E;
  font-size: 2.2em;
  line-height: 1.4em;
}

/* line 29, ../sass/_typography.sass */
h4 {
  font-family: "Crimson Text", Georgia, "Times New Roman", serif;
  font-color: #5E5E5E;
  font-size: 2em;
  line-height: 1.4em;
}

/* line 31, ../sass/_typography.sass */
h5 {
  font-family: "Crimson Text", Georgia, "Times New Roman", serif;
  font-color: #5E5E5E;
  font-size: 1.7em;
  line-height: 1.2em;
}

/* line 33, ../sass/_typography.sass */
h6 {
  font-family: "Crimson Text", Georgia, "Times New Roman", serif;
  font-color: #5E5E5E;
  font-size: 1.3em;
  line-height: 1.2em;
}

/* line 36, ../sass/_typography.sass */
p {
  font-family: "Proxima Nova", "Helvetica Neue", Arial, sans-serif;
  font-color: #202020;
  font-size: 1em;
  line-height: 1.5em;
}

/* line 39, ../sass/_typography.sass */
.quote {
  font-family: "Proxima Nova", "Helvetica Neue", Arial, sans-serif;
  font-color: #202020;
  font-size: 1.25em;
  line-height: 1.62em;
  font-style: italic;
}

/* line 43, ../sass/_typography.sass */
a {
  font-family: "Proxima Nova", "Helvetica Neue", Arial, sans-serif;
  font-color: #202020;
  font-size: 1em;
  line-height: 1.5em;
  font-color: #1C668C;
  text-decoration: none;
}

/* line 48, ../sass/_typography.sass */
ul, ol {
  font-family: "Proxima Nova", "Helvetica Neue", Arial, sans-serif;
  font-color: #202020;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 0 2em;
  padding: 0;
  text-align: left;
}

/* line 54, ../sass/_typography.sass */
.pcontrast {
  font-family: "Proxima Nova", "Helvetica Neue", Arial, sans-serif;
  color: #FCFCFC;
  font-size: 1em;
  line-height: 1.5em;
}

/* line 60, ../sass/_typography.sass */
.acontrast {
  font-family: "Proxima Nova", "Helvetica Neue", Arial, sans-serif;
  color: #DEEAEF;
  font-size: 1em;
  line-height: 1.5em;
}

/* line 28, ../sass/main.sass */
nav {
  background-color: #4C413B;
  padding: 20px;
  max-height: 60px;
}

/* line 33, ../sass/main.sass */
main {
  background-color: #DEDEDC;
  padding: 20px;
}

/* line 37, ../sass/main.sass */
section {
  background-color: #FCFCFC;
  margin: 15px 10px;
  padding: 10px;
  box-shadow: 0 0 1em #4C413B;
  border-radius: 0.5em;
}

/* line 44, ../sass/main.sass */
footer {
  background-color: #4C413B;
  padding: 20px;
}

/* line 48, ../sass/main.sass */
.starlogo {
  height: 50px;
  background-image: url("../img/9pointedstar.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px 50px;
  position: relative;
  display: flex;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

/* line 51, ../sass/main.sass */
.icon {
  padding: 5px;
  color: #FCFCFC;
}

/* line 55, ../sass/main.sass */
.register {
  padding: 3px 0px 0px 10px;
  min-width: 122px;
}

/* line 59, ../sass/main.sass */
.search {
  height: 1.5em;
}

/* line 62, ../sass/main.sass */
.downloads {
  margin-left: 0;
}

/* line 65, ../sass/main.sass */
.copyright {
  font-size: 0.9em;
  padding: 10px;
}

/* line 69, ../sass/main.sass */
.menu-lable {
  padding-left: 10px;
}

@media only screen and (min-width: 48em) {
  /* line 73, ../sass/main.sass */
  section {
    margin: 15px 20px;
  }

  /* line 75, ../sass/main.sass */
  .starlogo {
    height: 50px;
    background-image: url("../img/BahaiFaithwithStar.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px 40px;
    position: relative;
    display: flex;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
  }
}
@media only screen and (min-width: 62em) {
  /* line 79, ../sass/main.sass */
  section {
    margin: 15px 20px;
  }

  /* line 81, ../sass/main.sass */
  .starlogo {
    height: 50px;
    background-image: url("../img/BahaiFaithwithStar.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px 40px;
    position: relative;
    display: flex;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
  }
}
@media only screen and (min-width: 75em) {
  /* line 85, ../sass/main.sass */
  section {
    margin: 15px 30px;
  }

  /* line 87, ../sass/main.sass */
  .starlogo {
    height: 50px;
    background-image: url("../img/BahaiFaithwithStar.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px 40px;
    position: relative;
    display: flex;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
  }
}
@media only screen and (max-width: 48em) {
  /* line 91, ../sass/main.sass */
  .xs-hide {
    display: none;
  }
}
@media only screen and (max-width: 62em) {
  /* line 95, ../sass/main.sass */
  .sm-hide {
    display: none;
  }
}
