div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Crimson Text", Georgia, "Times New Roman", serif;
    color: #5E5E5E;
    font-size: 2.8em;
    line-height: 2em;
}

h2 {
    font-family: "Crimson Text", Georgia, "Times New Roman", serif;
    color: #5E5E5E;
    font-size: 2.5em;
    line-height: 1.7em;
}

h3 {
    font-family: "Crimson Text", Georgia, "Times New Roman", serif;
    color: #5E5E5E;
    font-size: 2.2em;
    line-height: 1.4em;
}

h4 {
    font-family: "Crimson Text", Georgia, "Times New Roman", serif;
    color: #5E5E5E;
    font-size: 2em;
    line-height: 1.4em;
}

h5 {
    font-family: "Crimson Text", Georgia, "Times New Roman", serif;
    color: #5E5E5E;
    font-size: 1.7em;
    line-height: 1.2em;
}

h6 {
    font-family: "Crimson Text", Georgia, "Times New Roman", serif;
    color: #5E5E5E;
    font-size: 1.3em;
    line-height: 1.2em;
}

p {
    font-family: "Proxima Nova", "Helvetica Neue", Arial, sans-serif;
    color: #202020;
    font-size: 1em;
    line-height: 1.5em;
}

a {
    font-family: "Proxima Nova", "Helvetica Neue", Arial, sans-serif;
    color: #202020;
    font-size: 1em;
    line-height: 1.5em;
    color: #1C668C;
    text-decoration: none;
}

header {
    padding: 10px;
}

main {
    background-color: #DEDEDC;
    padding: 20px;
}

article {
    display: block;
    background-color: #FCFCFC;
    margin: 15px 10px;
    padding: 10px;
    box-shadow: 0 0 1em #4C413B;
    border-radius: 0.5em;
}

/* FOUNDATION */

.row {
    margin-right: auto;
    margin-left: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.row .row {
    margin-right: .5rem;
    margin-left: .5rem;
}

.column.row {
    display: -ms-flexbox;
    display: flex;
}

.column,
columns {
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    min-width: initial;
}

.small-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.small-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.small-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.small-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.small-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.small-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.small-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.small-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.small-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.small-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.small-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.small-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media print,
screen and (min-width: 40em) {
    .medium-1 {
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .medium-2 {
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .medium-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .medium-4 {
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .medium-5 {
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .medium-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .medium-7 {
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .medium-8 {
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .medium-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .medium-10 {
        -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .medium-11 {
        -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .medium-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media print,
screen and (min-width: 64em) {
    .large-1 {
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .large-2 {
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .large-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .large-4 {
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .large-5 {
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .large-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .large-7 {
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .large-8 {
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .large-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .large-10 {
        -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .large-11 {
        -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .large-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

ul {
    margin-bottom: 1rem;
    list-style-position: outside;
    line-height: 1.6;
    margin-left: 1.25rem;
    list-style-type: disc;
}

li {
    font-size: inherit;
}
.text-center {
    text-align: center;
}
