h1 {
  font-family: "Crimson Text", Georgia, "Times New Roman", serif;
  color: #202020;
  font-size: 2.8em;
  line-height: 2em; }

h2 {
  font-family: "Crimson Text", Georgia, "Times New Roman", serif;
  color: #202020;
  font-size: 2.5em;
  line-height: 1.7em; }

h3 {
  font-family: "Crimson Text", Georgia, "Times New Roman", serif;
  color: #202020;
  font-size: 2.2em;
  line-height: 1.4em; }

h4 {
  font-family: "Crimson Text", Georgia, "Times New Roman", serif;
  color: #202020;
  font-size: 2em;
  line-height: 1.2em; }

h5 {
  font-family: "Crimson Text", Georgia, "Times New Roman", serif;
  color: #202020;
  font-size: 1.7em;
  line-height: 1.2em; }

h6 {
  font-family: "Crimson Text", Georgia, "Times New Roman", serif;
  color: #202020;
  font-size: 1.3em;
  line-height: 1.2em; }

p {
  font-family: "Proxima Nova", "Helvetica Neue", Arial, sans-serif;
  color: #202020;
  font-size: 1em;
  line-height: 1.5em; }

.quote {
  font-family: "Proxima Nova", "Helvetica Neue", Arial, sans-serif;
  color: #202020;
  font-size: 1.25em;
  line-height: 1.62em;
  font-style: italic; }

a {
  text-decoration: none;
  font-family: "Proxima Nova", "Helvetica Neue", Arial, sans-serif;
  color: #202020;
  font-size: 1em;
  line-height: 1.5em;
  color: #1C668C; }

.pcontrast {
  font-family: "Proxima Nova", "Helvetica Neue", Arial, sans-serif;
  color: #EFE7DE;
  font-size: 1em;
  line-height: 1.5em; }

.acontrast {
  font-family: "Proxima Nova", "Helvetica Neue", Arial, sans-serif;
  color: #DEEAEF;
  font-size: 1em;
  line-height: 1.5em; }

ul, ol {
  font-family: "Proxima Nova", "Helvetica Neue", Arial, sans-serif;
  color: #202020;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 0 2em;
  padding: 0;
  text-align: left; }
