{% extends '../factory/base.html' %} {% block content %}

<body>
    <header class="">
        <div class="text-center">
            <img src="natcon-2017.jpg" alt="National Convention 2017">
        </div>
        <breadcrumbs><a href="tabindex.html">TAB</a> / Article</breadcrumbs>
    </header>
    <main>
        <div class="row">
            <div class="">
                <h4 class="">National Spiritual Assembly for 2017–2018 elected</h4>
                <p>On the third day of the 109th U.S. Bahá’í National Convention, April 29, 2017, delegates elected nine members to serve on the National Spiritual Assembly of the Bahá’ís of the United States until the National Convention of 2018. All 171
                    delegates cast ballots, 169 of them in person. As announced during the early afternoon session of the Convention, members elected are (with names in alphabetical order):
                </p>
                <ul>
                    <li>Muin Afnani</li>
                    <li>Fariba Aghdasi</li>
                    <li>Kenneth E. Bowers</li>
                    <li>Juana C. Conrad</li>
                    <li>S. Valerie Dana</li>
                    <li>Robert C. Henderson</li>
                    <li>Jacqueline Left Hand Bull</li>
                    <li>Kevin Trotter</li>
                    <li>David F. Young</li>
                </ul>
                <p>
                    The election took place Saturday morning after half an hour’s devotions in the sanctified auditorium of the Bahá’í House of Worship. Delegates took their place downstairs in Foundation Hall, with guests witnessing from the back rows of seats and from
                    a viewing room with a video feed.
                </p>
                <p>
                    “We will accompany each other in carrying out our sacred task and we will do that by maintaining the prayerful atmosphere we just left,” said the Convention chair, David Young, before ensuring that every delegate in attendance had a ballot. The chair
                    then read instructions for conducting the balloting with order and dignity.
                </p>
                <p>
                    The team of tellers read prayers and selections relevant to the sanctity and nature of Bahá’í elections — including the oft-cited mandate of the Guardian to choose “those who can best combine the necessary qualities of unquestioned loyalty, of selfless
                    devotion, of a well-trained mind, of recognized ability and mature experience.”
                </p>
                <p>
                    Several minutes’ silence followed, except for the muted rustling of papers, as each delegate filled the ballot with nine names.
                </p>
                <p>
                    When ballots were completed, the Convention secretary, Muin Afnani, called the roll, and the delegates advanced in alphabetical order to drop their ballots into the clear plastic box at the front of the hall. More than 30 delegates were exercising that
                    duty for the first time.
                </p>
                <p>
                    Many faces were stern and purposeful; others beaming and transcendent; others celebratory. A few kissed their envelopes just before dropping them in the box. On behalf of the two delegates voting by mail, the chief teller dropped in each ballot.
                </p>
                <p>
                    When 171 ballots had been cast, the secretary announced, “Congratulations, friends, we have 100 percent participation.” The entire room rose in a warm standing ovation. A delegate began singing a simple setting of a passage from Bahá’u’lláh — “Arise for
                    the triumph of My Cause, and, through the power of thine utterance, subdue the hearts of men” and others gradually joined her.
                </p>
            </div>
        </div>
    </main>
</body>

{% endblock %}