{% extends '../factory/base.html' %} {% load wagtailcore_tags %} {% load wagtailimages_tags %} {% load static %} {% block globalbreadcrumbs %} li>
<a href="{% url 'news' %}"><span class="show-for-sr">Current: </span>News</a></li>
{% endblock globalbreadcrumbs %} {% block content %}

<body>
    <main>
        <h3>Community News</h3>
        <div class="row">
            <div class="column small-12 medium-4"><img src="https://c1.staticflickr.com/5/4188/34344570281_b0c8f713b5_o.jpg" alt="Morning devotions with drums at outreach project"></div>
            <div class="column small-12 medium-8">
                <p>Dayyan Sisson (with drum) prays alongside other participants during morning devotions for an early 2017 outreach project in Charleston, South Carolina, overseen by the Southeastern Regional Bahá’í Council. Photo by Danita Brown</p>
                <p>BONUS VIDEO: <a href="https://youtu.be/O-6ZIaflCww">Giving back in Madison</a> — Young professionals in Wisconsin’s capital focus on empowering teens to create social change.</p>
                <p>Bahá’í National Convention coverage: Members with a Bahá’í ID number can <a href="https://american.bahai.us/natcon2017/">sign in here</a> to see stories, photos, videos and other resources from the Bahá’í National Convention, April 27–30</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="column large-6 medium-6 small-12">
                <h4>Featured</h4>
                <section>
                    <div class="article-box">
                        <a href="#articleview">
                            <article class="row">
                                <div class="column news-img large-2 small-2">
                                    <img src="https://c1.staticflickr.com/5/4181/34344570611_a270a38313_q.jpg" alt="">
                                </div>
                                <div class="column large-10 small-10">
                                    <h6>Regional Bahá’í Councils at 20: their origins, evolution and impact</h6>
                                </div>
                            </article>
                        </a>
                    </div>
                    <div class="article-box">
                        <a href="#articleview">
                            <article class="row">
                                <div class="column news-img large-2 small-2">
                                    <img src="{% static 'img/spacecat.png' %}" alt="space cat">
                                </div>
                                <div class="column large-10 small-10">
                                    <h6>Article Title</h6>
                                </div>
                            </article>
                        </a>
                    </div>
                </section>
            </div>
            <div class="column large-6 medium-6 small-12">
                <h4>Building Community</h4>
                <section>
                    <div class="article-box">
                        <a href="#articleview">
                            <article class="row">
                                <div class="column news-img large-2 small-2">
                                    <img src="{% static 'img/spacecat.png' %}" alt="space cat">
                                </div>
                                <div class="column large-10 small-10">
                                    <h6>Article Title</h6>
                                </div>
                            </article>
                        </a>
                    </div>
                    <div class="article-box">
                        <a href="#articleview">
                            <article class="row">
                                <div class="column news-img large-2 small-2">
                                    <img src="{% static 'img/spacecat.png' %}" alt="space cat">
                                </div>
                                <div class="column large-10 small-10">
                                    <h6>Article Title</h6>
                                </div>
                            </article>
                        </a>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="column large-6 medium-6 small-12">
                <h4>Community Commons</h4>
                <section>
                    <div class="article-box">
                        <a href="#articleview">
                            <article class="row">
                                <div class="column news-img large-2 small-2">
                                    <img src="{% static 'img/spacecat.png' %}" alt="space cat">
                                </div>
                                <div class="column large-10 small-10">
                                    <h6>Article Title</h6>
                                </div>
                            </article>
                        </a>
                    </div>
                    <div class="article-box">
                        <a href="#articleview">
                            <article class="row">
                                <div class="column news-img large-2 small-2">
                                    <img src="{% static 'img/spacecat.png' %}" alt="space cat">
                                </div>
                                <div class="column large-10 small-10">
                                    <h6>Article Title</h6>
                                </div>
                            </article>
                        </a>
                    </div>
                </section>
            </div>
            <div class="column large-6 medium-6 small-12">
                <h4>In the Life of Society</h4>
                <section>
                    <div class="article-box">
                        <a href="#articleview">
                            <article class="row">
                                <div class="column news-img large-2 small-2">
                                    <img src="{% static 'img/spacecat.png' %}" alt="space cat">
                                </div>
                                <div class="column large-10 small-10">
                                    <h6>Article Title</h6>
                                </div>
                            </article>
                        </a>
                    </div>
                    <div class="article-box">
                        <a href="#articleview">
                            <article class="row">
                                <div class="column news-img large-2 small-2">
                                    <img src="{% static 'img/spacecat.png' %}" alt="space cat">
                                </div>
                                <div class="column large-10 small-10">
                                    <h6>Article Title</h6>
                                </div>
                            </article>
                        </a>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <!--<section>
            <div class="article-box">
                {% for page in self.child_pages|slice:"0:2" %}
                <a href="{{page.slug}}">
                    <article class="row">
                        <div class="column news-img large-4 small-4">
                            <img src="{{ page.flickr }}" alt="">
                        </div>
                        <div class="column large-8 small-8">
                            <h6>{{ page.title }}</h6>
                        </div>
                    </article>
                </a>
                {% endfor %}
            </div>
            <div class="article-box">
                {% for page in self.child_pages|slice:"2:4" %}
                <a href="{{page.slug}}">
                    <article class="row">
                        <div class="column news-img large-4 small-4">
                            <img src="{{ page.flickr }}" alt="">
                        </div>
                        <div class="column large-8 small-8">
                            <h6>{{ page.title }}</h6>
                        </div>
                    </article>
                </a>
                {% endfor %}
            </div>
        </section>-->
</body>
{% endblock %}