{% extends '../factory/base.html' %} {% load wagtailcore_tags %} {% load static %} {% block globalbreadcrumbs %}
<li><a href="{% url 'news' %}"><span class="show-for-sr">Current: </span>News</a></li>
{% endblock globalbreadcrumbs %}{% block content %}
<main class="row">
    <div class="column small-12">
        <h2 class="">National Convention: Reflecting on year past, viewing aright opportunities for year ahead</h2>
        <img src="https://c1.staticflickr.com/5/4288/34761092793_9dbe404519_z.jpg" alt="">
        <br><br>
        <em>{{ page.latest_revision_created_at }}</em>
        <p>On the eve of the month of ‘Aẓamat, the National Spiritual Assembly distilled what delegates to the 109th U.S. Bahá’í National Convention, April 27–30, had experienced as they assembled in Foundation Hall of the Bahá’í House of Worship.</p>
        <p>Delegates’ main duties were to prayerfully elect the nine members of the National Assembly that will guide the affairs of the Bahá’í Faith in this country over the coming year and inform the incoming National Assembly through consultation on the
            progress of the Faith.</p>
        <p>The National Assembly wrote in its Feast letter to the U.S. Bahá’í community that this year’s Convention was “energized by a high degree of unity, singleness of purpose, and confidence, doubtless inspired in part by the friends’ maturing experience
            in advancing the processes at the heart of the Plan. No less important was a powerful sense of the opportunities now open before us, as described by the Universal House of Justice in its Riḍván message to the Bahá’ís of the world.”</p>
        <p>The letter continued: “Acknowledging the enthusiastic response of the friends everywhere to the Plan launched at Riḍván last year, the Supreme Body noted the various ways in which new levels of capacity are being seen in communities across the
            globe. These have given rise to a growing anticipation on its part that the ‘signs could hardly be more promising … for what the coming year might bring.’</p>
        <p>“Their next observation captured the imaginations of delegates to such an extent, it became the overarching theme of the Convention:</p>
        <blockquote>“‘Viewed aright, this year presents the single greatest worldwide opportunity there has ever been for connecting hearts to Bahá’u’lláh. In the months ahead, let all be mindful of this precious chance and alert to the possibilities that exist in
            every space for acquainting others with His life and sublime mission. For the teaching opportunity that is now before the Bahá’í world to be seized to its fullest extent, creative thought needs to be given to the conversations that could unfold
            with every kind of person. In the course of such meaningful conversations, perception is heightened and hearts are opened ― sometimes immediately.’”</blockquote>
        <p>Our national governing body then detailed questions articulated at Convention that are “well worth our collective consideration as we all contemplate how best to fulfill the wishes of the House of Justice in the coming months”:</p>
        <ul>
            <li>How can we engage in “meaningful conversations” with the greatest possible number of our fellow citizens, representing the rich diversity of our nation?</li>
            <li>What is the nature of these “meaningful conversations”? For example, are we inviting people simply to attend an event or to take part in a process of spiritual and social transformation?</li>
            <li>How might the coming bicentenaries of the Twin Holy Birthdays complement the overall aims and processes of the Plan?</li>
            <li>What plans have we made for the participation of children and youth in these events? Have they been invited to join in the planning process? What about friends of the Faith whose hearts are attracted to Bahá’u’lláh, even if they have not yet
                formally enrolled?</li>
            <li>How can we ensure that the bicentenary observances are more than just standalone events? What are our plans for following up with those who attend? How will our relationships with them be further developed?</li>
        </ul>
        <br>
        <p>“Fundamental,” the National Assembly wrote, “was the friends’ understanding that the bicentenaries call for universal participation in the celebration of these sacred anniversaries ― expressed in a variety of settings, including homes, neighborhoods,
            Bahá’í Centers, and other venues, and expressive of the wide range of creativity possessed by the diverse populace of America. …”</p>
        <p>As the Feast letter noted, efforts surrounding the upcoming bicentenary of the Birth of Bahá’u’lláh were very much on the minds of delegates. Also woven throughout the proceedings was a recognition that issues of race are integral to virtually
            every activity in which Bahá’ís are engaged.</p>
        <p>The articles in this package reflect themes from Convention consultation, with stories from across the United States that expand on remarks made by delegates during that consultation.</p>
        <p>For other coverage — reports of the National Spiritual Assembly, the delegate deepening, organization of Convention, and report of the Board of Ḥuqúqu’lláh in the United States — Bahá’ís may sign in to https://www.bahai.us/community/natcon2017/.
            Included at that site are photo galleries and links to audio files and documents.</p>
    </div>
</main>



<!--<header class="">
    <div class="text-center">
        <img src="" alt="">
    </div>
    <breadcrumbs><a href="/community-news/">community-news</a> / {{page.slug}}</breadcrumbs>
</header>
<main>
    <div class="row">
        <h4 class="">{{ page.title }}</h4>
        <em>{{ page.latest_revision_created_at }}</em>
        <p>
            {{ page.body|richtext }}
        </p>
    </div>
</main>-->
{% endblock %}