{% extends '../factory/base.html' %} {% block content %}

<body>
    <header></header>
    <main>
        <h3>Community News</h3>
        <img src="" alt="">
        <h5>Issue title</h5>
        <section class="row">
            <div class="columns large-6 medium-6 small-12">
                <a href="#articleview">
                    <article class="row">
                        <div class="columns large-2 medium-3 small-3">
                            <img src="spacedog.png" alt="space dog">
                        </div>
                        <div class="columns large-10 medium-9 small-9">
                            <h6>Article Title</h6>
                            <p>Article summary</p>
                        </div>
                    </article>
                </a>
            </div>
            <div class="columns large-6 medium-6 small-12">
                <a href="#articleview">
                    <article class="row">
                        <div class="columns large-2 medium-3 small-3">
                            <img src="spacedog.png" alt="space dog">
                        </div>
                        <div class="columns large-10 medium-9 small-9">
                            <h6>Article Title</h6>
                            <p>Article summary</p>
                        </div>
                    </article>
                </a>
            </div>
        </section>
        <hr>
        <h5>Building Community</h5>
        <section class="row">
            <div class="columns large-6 medium-6 small-12">
                <a href="#articleview">
                    <article class="row">
                        <div class="columns large-2 medium-3 small-3">
                            <img src="spacedog.png" alt="space dog">
                        </div>
                        <div class="columns large-10 medium-9 small-9">
                            <h6>Article Title</h6>
                            <p>Article summary</p>
                        </div>
                    </article>
                </a>
            </div>
            <div class="columns large-6 medium-6 small-12">
                <a href="#articleview">
                    <article class="row">
                        <div class="columns large-2 medium-3 small-3">
                            <img src="spacedog.png" alt="space dog">
                        </div>
                        <div class="columns large-10 medium-9 small-9">
                            <h6>Article Title</h6>
                            <p>Article summary</p>
                        </div>
                    </article>
                </a>
            </div>
        </section>
        <hr>
        <h5>Community Commons</h5>
        <section class="row">
            <div class="columns large-6 medium-6 small-12">
                <a href="#articleview">
                    <article class="row">
                        <div class="columns large-2 medium-3 small-3">
                            <img src="spacedog.png" alt="space dog">
                        </div>
                        <div class="columns large-10 medium-9 small-9">
                            <h6>Article Title</h6>
                            <p>Article summary</p>
                        </div>
                    </article>
                </a>
            </div>
            <div class="columns large-6 medium-6 small-12">
                <a href="#articleview">
                    <article class="row">
                        <div class="columns large-2 medium-3 small-3">
                            <img src="spacedog.png" alt="space dog">
                        </div>
                        <div class="columns large-10 medium-9 small-9">
                            <h6>Article Title</h6>
                            <p>Article summary</p>
                        </div>
                    </article>
                </a>
            </div>
        </section>
        <hr>
        <h5>In the Life of Society</h5>
        <section class="row">
            <div class="columns large-6 medium-6 small-12">
                <a href="#articleview">
                    <article class="row">
                        <div class="columns large-2 medium-3 small-3">
                            <img src="spacedog.png" alt="space dog">
                        </div>
                        <div class="columns large-10 medium-9 small-9">
                            <h6>Article Title</h6>
                            <p>Article summary</p>
                        </div>
                    </article>
                </a>
            </div>
            <div class="columns large-6 medium-6 small-12">
                <a href="#articleview">
                    <article class="row">
                        <div class="columns large-2 medium-3 small-3">
                            <img src="spacedog.png" alt="space dog">
                        </div>
                        <div class="columns large-10 medium-9 small-9">
                            <h6>Article Title</h6>
                            <p>Article summary</p>
                        </div>
                    </article>
                </a>
            </div>
        </section>
        <hr>
    </main>
</body>

{% endblock %}