<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Community News</title>
    <meta name="description" content="The American Baha'i Community News">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css" integrity="sha256-itWEYdFWzZPBG78bJOOiQIn06QCgN/F0wMDcC4nOhxY=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="main.css">
    <!-- Compressed JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js" integrity="sha256-Nd2xznOkrE9HkrAMi4xWy/hXkQraXioBg9iYsBrcFrs=" crossorigin="anonymous"></script>
</head>

<body>
    <header></header>
    <main>
        <h3>Community News</h3>
        <img src="" alt="">
        <h5>Issue title</h5>
        <section class="row">
            <div class="columns large-6 medium-6 small-12">
                <a href="#articleview">
                    <article class="row">
                        <div class="columns large-2 medium-3 small-3">
                            <img src="spacedog.png" alt="space dog">
                        </div>
                        <div class="columns large-10 medium-9 small-9">
                            <h6>Article Title</h6>
                            <p>Article summary</p>
                        </div>
                    </article>
                </a>
            </div>
            <div class="columns large-6 medium-6 small-12">
                <a href="#articleview">
                    <article class="row">
                        <div class="columns large-2 medium-3 small-3">
                            <img src="spacedog.png" alt="space dog">
                        </div>
                        <div class="columns large-10 medium-9 small-9">
                            <h6>Article Title</h6>
                            <p>Article summary</p>
                        </div>
                    </article>
                </a>
            </div>
        </section>
        <hr>
        <h5>Building Community</h5>
        <section class="row">
            <div class="columns large-6 medium-6 small-12">
                <a href="#articleview">
                    <article class="row">
                        <div class="columns large-2 medium-3 small-3">
                            <img src="spacedog.png" alt="space dog">
                        </div>
                        <div class="columns large-10 medium-9 small-9">
                            <h6>Article Title</h6>
                            <p>Article summary</p>
                        </div>
                    </article>
                </a>
            </div>
            <div class="columns large-6 medium-6 small-12">
                <a href="#articleview">
                    <article class="row">
                        <div class="columns large-2 medium-3 small-3">
                            <img src="spacedog.png" alt="space dog">
                        </div>
                        <div class="columns large-10 medium-9 small-9">
                            <h6>Article Title</h6>
                            <p>Article summary</p>
                        </div>
                    </article>
                </a>
            </div>
        </section>
        <hr>
        <h5>Community Commons</h5>
        <section class="row">
            <div class="columns large-6 medium-6 small-12">
                <a href="#articleview">
                    <article class="row">
                        <div class="columns large-2 medium-3 small-3">
                            <img src="spacedog.png" alt="space dog">
                        </div>
                        <div class="columns large-10 medium-9 small-9">
                            <h6>Article Title</h6>
                            <p>Article summary</p>
                        </div>
                    </article>
                </a>
            </div>
            <div class="columns large-6 medium-6 small-12">
                <a href="#articleview">
                    <article class="row">
                        <div class="columns large-2 medium-3 small-3">
                            <img src="spacedog.png" alt="space dog">
                        </div>
                        <div class="columns large-10 medium-9 small-9">
                            <h6>Article Title</h6>
                            <p>Article summary</p>
                        </div>
                    </article>
                </a>
            </div>
        </section>
        <hr>
        <h5>In the Life of Society</h5>
        <section class="row">
            <div class="columns large-6 medium-6 small-12">
                <a href="#articleview">
                    <article class="row">
                        <div class="columns large-2 medium-3 small-3">
                            <img src="spacedog.png" alt="space dog">
                        </div>
                        <div class="columns large-10 medium-9 small-9">
                            <h6>Article Title</h6>
                            <p>Article summary</p>
                        </div>
                    </article>
                </a>
            </div>
            <div class="columns large-6 medium-6 small-12">
                <a href="#articleview">
                    <article class="row">
                        <div class="columns large-2 medium-3 small-3">
                            <img src="spacedog.png" alt="space dog">
                        </div>
                        <div class="columns large-10 medium-9 small-9">
                            <h6>Article Title</h6>
                            <p>Article summary</p>
                        </div>
                    </article>
                </a>
            </div>
        </section>
        <hr>
    </main>
</body>

</html>