{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}


{% block content %}

    <main>
        <h3>Community News</h3>
        <img src="https://c1.staticflickr.com/5/4188/34344570281_b0c8f713b5_o.jpg" alt="Morning devotions with drums at outreach project">
        <h5>Regional Bahá’í Councils at 20</h5>
       
        
        <section class="row">
            <div class="columns large-6 medium-6 small-12">
                {% for page in self.child_pages|slice:"0:2" %}
                <a href="{{page.slug}}">
                    <article class="row">
                        <div class="columns large-4 small-4">
                            <img src="{{ page.flickr }}" alt="">
                        </div>
                        <div class="columns large-8 small-8">
                            <h6>{{ page.title }}</h6>
                            <p>{{ page.body|striptags|safe|truncatewords:25 }}</p>
                        </div>
                    </article>
                </a>
                {% endfor %}
            </div>
            <div class="columns large-6 medium-6 small-12">
                {% for page in self.child_pages|slice:"2:4" %}
                <a href="{{page.slug}}">
                    <article class="row">
                        <div class="columns large-4 small-4">
                            <img src="{{ page.flickr }}" alt="">
                        </div>
                        <div class="columns large-8 small-8">
                            <h6>{{ page.title }}</h6>
                            <p>{{ page.body|striptags|safe|truncatewords:25 }}</p>
                        </div>
                    </article>
                </a>
                {% endfor %}
            </div>
        </section>
        
        <hr>
        <h5>Building Community</h5>
        <section class="row">
            <div class="columns large-6 medium-6 small-12">
                <a href="#articleview">
                    <article class="row">
                        <div class="columns large-2 small-2">
                            <img src="spacedog.png" alt="space dog">
                        </div>
                        <div class="columns large-10 small-10">
                            <h6>Article Title</h6>
                            <p>Article summary</p>
                        </div>
                    </article>
                </a>
            </div>
            <div class="columns large-6 medium-6 small-12">
                <a href="#articleview">
                    <article class="row">
                        <div class="columns large-2 small-2">
                            <img src="spacedog.png" alt="space dog">
                        </div>
                        <div class="columns large-10 small-10">
                            <h6>Article Title</h6>
                            <p>Article summary</p>
                        </div>
                    </article>
                </a>
            </div>
        </section>
        <hr>
        <h5>Community Commons</h5>
        <section class="row">
            <div class="columns large-6 medium-6 small-12">
                <a href="#articleview">
                    <article class="row">
                        <div class="columns large-2 small-2">
                            <img src="spacedog.png" alt="space dog">
                        </div>
                        <div class="columns large-10 small-10">
                            <h6>Article Title</h6>
                            <p>Article summary</p>
                        </div>
                    </article>
                </a>
            </div>
            <div class="columns large-6 medium-6 small-12">
                <a href="#articleview">
                    <article class="row">
                        <div class="columns large-2 small-2">
                            <img src="spacedog.png" alt="space dog">
                        </div>
                        <div class="columns large-10 small-10">
                            <h6>Article Title</h6>
                            <p>Article summary</p>
                        </div>
                    </article>
                </a>
            </div>
        </section>
        <hr>
        <h5>In the Life of Society</h5>
        <section class="row">
            <div class="columns large-6 medium-6 small-12">
                <a href="#articleview">
                    <article class="row">
                        <div class="columns large-2 small-2">
                            <img src="spacedog.png" alt="space dog">
                        </div>
                        <div class="columns large-10 small-10">
                            <h6>Article Title</h6>
                            <p>Article summary</p>
                        </div>
                    </article>
                </a>
            </div>
            <div class="columns large-6 medium-6 small-12">
                <a href="#articleview">
                    <article class="row">
                        <div class="columns large-2 small-2">
                            <img src="spacedog.png" alt="space dog">
                        </div>
                        <div class="columns large-10 small-10">
                            <h6>Article Title</h6>
                            <p>Article summary</p>
                        </div>
                    </article>
                </a>
            </div>
        </section>
        <hr>
    </main>

{% endblock %}