{% extends '../factory/base.html' %} {% block globalbreadcrumbs %}
<li><a href="{% url 'login' %}">Login</a></li>
{% endblock globalbreadcrumbs %} {% block content %}

<body>
    <main>
        <h1>Having trouble with the Login?</h1>

        <p>
            <strong>What is my Bahá'í ID number?</strong><br> You can find your Bahá'í ID on your ID card or by contacting ___
        </p>
        <p>
            <strong>I forgot my password.</strong><br> You may answer your security questions to have a temporary password emailed to you by filling out <a href="/passwordreset">this form.</a>
        </p>
        <p>
            <strong>I'm getting an error message.</strong><br>
            <ul>
                <li><strong>Invalid Request Token: </strong>First, clear your browser cache and/or history. Second, close your internet browser completely and reopen it. Third, type bahai.us directly into the address bar at the top and hit enter. Use the
                    "Sign In" option in the menu in the upper right corner to login. To avoid this error in the future, we suggest not bookmarking the loging page but instead bookmarking bahai.us.</li>
                <li><strong>Invalid ID or password: </strong>Make sure that you have typed in your ID password correctly, remembering that the password is case sensitive and try again. Keep in mind that three unsuccessful login attempts will temporarily lock
                    your account. If you can't remember your password you may <a href="/passwordreset">reset it</a>.</li>
                <li><strong>Other Error: </strong></li>
            </ul>
        </p>
        <p>
            <strong>I need to update my contact information.</strong><br> If you are able to login, you can update your contact information via <a href="/community/profile">My Page</a> Page. If you need to update your email address in order to reset your
            password please contact us using the link below.
        </p>
        <a href="/contact">Contact Us</a>
    </main>
</body>

{% endblock %}