<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login to Bahai.us</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/js/app.js" type="text/javascript"></script>
</head>

<body>
    <h1>Login</h1>
    <section id="login">
        <form action="submit">
            <label for="bahai-id">Bahá'í ID</label>
            <input placeholder='00123456' type="text" name='bahai-id' id='bahai-id' />
            <label for="password">Password</label>
            <input placeholder='password' type="text" name='password' id='password' />
            <input type="submit" value="Login">
            <button type="link" href="register.html">Register</button>
        </form>
    </section>
    <a href="help.html">Having Trouble?</a>

</body>

</html>