{% extends '../factory/base.html' %} {% block globalbreadcrumbs %}
<span class="column"><a href="/">Home</a> / <a href="/login">Login</a></span>{% endblock globalbreadcrumbs %}{% block content %}

<body>
    <h1>Register for a Baha'i Online Services Account</h1>
    <form action="submit">
        <input type="text">Bahá'í ID
        <input type="text">Password
        <input type="text">Re-Type Password
        <button>Register</button>
    </form>
    <a href="/loginhelp">Having Trouble?</a>

</body>

{% endblock %}