{% extends '../factory/base.html' %} {% block globalbreadcrumbs %}
<span class="column"><a href="/">Home</a> / <a href="/login">Login</a></span> {% endblock globalbreadcrumbs %}{% block content %}

<body>
    <h1>Reset your Password</h1>
    <form action="submit">
        <input type="text">Baha'i ID
        <input type="text">Security Question 1 (answers are case sensative)
        <input type="text">Security Question 2 (answers are case sensative)
        <button>Submit</button>
    </form>
    <a href="/loginhelp">Having Trouble?</a>

</body>

{% endblock %}