{% extends '../factory/base.html' %}

{% block globalbreadcrumbs %}
 / <a href="{% url 'login' %}">Login</a>
{% endblock globalbreadcrumbs %} 

{% block content %}

<body>
    <main>
        <h1>Reset your Password</h1>
        <form action="submit">
            <label for="BID">Bahá'í ID</label>
            <input type="number" id="BID" placeholder="00123456">
            <label for="sq1">Security Question 1</label>
            <input type="text" id="sq1" placeholder="answers are case sensative">
            <label for="sq2">Security Question 1</label>
            <input type="text" id="sq2" placeholder="answers are case sensative">
            <button class="button" type="submit">Submit</button>
        </form>
        <a href="{% url 'help' %}">Having Trouble?</a>
    </main>
</body>

{% endblock %}