<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Password Reset</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1>Reset your Password</h1>
    <form action="submit">
        <input type="text">Baha'i ID
        <input type="text">Security Question 1 (answers are case sensative)
        <input type="text">Security Question 2 (answers are case sensative)
        <button>Submit</button>
    </form>
    <a href="help.html">Having Trouble?</a>

</body>

</html>