 {% load static from staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Baha'is of the United States</title>

    <!--<script src="{% static 'wagtailadmin/js/vendor/jquery-2.2.1.js' %}"></script>
    <script src="{% static 'wagtailadmin/js/vendor/jquery-ui-1.10.3.js' %}"></script>
    <script src="{% static 'wagtailadmin/js/vendor/jquery.autosize.js' %}"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'js/vendor/foundation.min.js' %}"></script>

    {# STYLESHEETS #}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/foundation-icons.css' %}" />
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400,700' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="//use.typekit.net/ttb5aic.js"></script>
    <!--<script type="text/javascript">
        try {
            Typekit.load();
        } catch (e) {}
    </script>-->
</head>


<body>
    <div class="off-canvas position-left reveal-for-large" id="offCanvas" data-off-canvas>
        <ul class="plain-list plain-link">
            <a href="{% url 'login' %}" class="">
                <li class="off-canvas-menu-item login-off-canvas hide-for-large">Sign In</li>
            </a>
            <a href="/" class="">
                <li class="off-canvas-menu-item">Home</li>
            </a>
            <a href="{% url 'news' %}" class="">
                <li class="off-canvas-menu-item">News</li>
            </a>
            <a href="{% url 'messages' %}" class="">
                <li class="off-canvas-menu-item">Messages</li>
            </a>
        </ul>
    </div>
    <div class="off-canvas-content" data-off-canvas-content>
        <nav class="row menu expanded align-middle" data-toggle="offCanvas">
            <span class="column text-right">
                    <div class="row align-middle hide-for-large">
                        <span class="icon fi-list"></span>
            <span class="pcontrast">Menu</span>
    </div>
    </span>
    <div class="column align-center">
        <a href="/"><span class="starlogo"></span></a>
    </div>
    <div class="column">
        <div class="row align-middle text-end hide-for-small-only">
            <span class="column large-2 icon fi-magnifying-glass"></span>
            <input type="text" name="query" placeholder="Search" class="column large-6 search" />
            <div class="column large-3 show-for-large no-wrap">
                <a class="acontrast sans-serif" href="{% url 'login' %}">Login</a>
            </div>
        </div>
    </div>
    </nav>
    {# BREADCRUMBS #}
    <header>
        <div class="row expanded">
            <div class "column" aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs">
                    <li><a href="/">Community Home</a></li>
                    {% block globalbreadcrumbs %}{% endblock globalbreadcrumbs %}
                </ul>
            </div>
            <span class="column text-end">
            {% now 'd F Y' %}
        </span>
        </div>
    </header>


    {% block local_header %} {% endblock local_header %} {% block content %} {% endblock content %} {% block extra_content %} {% endblock extra_content %}

    <footer>
        <div class="row align-middle align-justify footer-row">
            <address class="column text-left hide-for-small-only large-4">
                <p class="pcontrast nowrap">Bahá'í National Center <br/> 1233 Central Street<br/> Evanston IL, 60201<br/></p>
                <a class="acontrast" href="tel:18477333400">(847) 733-3400</a>
            </address>
            <div class="column text-center large-4 plain-link">
                <a class="" href="http://www.bahai.us/fund">
                    <img src="/static/img/OCSHeartSign.png">
                    <h4 class="acontrast">Brought to you by the National Bahá'í Fund</h4>
                </a>
            </div>
            <address class="column text-right hide-for-small-only large-4">
                <p class="pcontrast nowrap">Bahá'í House of Worship<br/> 100 Linden Ave<br/> Wilmette, IL 60091<br/></p>
                <a class="acontrast" href="tel:18478532300">(847) 853-2300</a>
            </address>
        </div>
        <div class="row align-center acontrast footer-row hide-for-large"><a href="{% url 'contact' %}">Contact Us</a></div>
        <div class="row align-center copyright">
            <p class="pcontrast">&copy; 2017 National Spiritual Assembly of the Bahá'ís of the United States</p>
        </div>
    </footer>
    </div>
    <script>
        $(document).foundation();
    </script>
    <script>
        $("[data-circle-graph]").each(function() {
            var $graph = $(this),
                percent = parseInt($graph.data('percent'), 10),
                deg = 360 * percent / 36;
            if (percent > 50) {
                $graph.addClass('gt-50');
            }
            $graph.find('.circle-graph-progress-fill').css('transform', 'rotate(' + deg + 'deg)');
            $graph.find('.circle-graph-percents-number').html(percent + 'M');
        });
    </script>
    <script>
        $('.menu-item').focus(
            function() {
                $(this).child('off-canvas-menu-item').css('background-color', '#202020');
            }).blur(
            function() {
                $(this).child('off-canvas-menu-item').css('background-color', '#4C413B');
            });
    </script>
</body>

</html>