 {% load static from staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Baha'is of the United States</title>

    {# STYLESHEETS #}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/foundation-icons.css' %}" />
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400,700' rel='stylesheet' type='text/css'>
</head>


<body>
    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <div class="off-canvas position-left reveal-for-large" id="offCanvas" data-off-canvas data-position="left">
                {# LEFT MENU #}
                <ul class="plain-list plain-link">
                    <a href="{% url 'login' %}">
                        <li class="off-canvas-menu-item login-off-canvas hide-for-large">Login with Bahá'í ID</li>
                    </a>
                    <a href="/">
                        <li class="off-canvas-menu-item">Home</li>
                    </a>
                    <a href="">
                        <li class="off-canvas-menu-item">Profile</li>
                    </a>
                    <a href="{% url 'news' %}">
                        <li class="off-canvas-menu-item">News</li>
                    </a>
                    <a href="{% url 'messages' %}">
                        <li class="off-canvas-menu-item">Messages</li>
                    </a>
                    <a href="https://www.bahai.us/fund/">
                        <li class="off-canvas-menu-item">Fund Resources</li>
                    </a>
                    <a href="https://www.bahai.us/community/forms/">
                        <li class="off-canvas-menu-item">Forms and Manuals</li>
                    </a>
                    <a href="https://www.bahai.us/community/service-opportunities/">
                        <li class="off-canvas-menu-item">Service Opportunities</li>
                    </a>
                    <a href="https://www.bahai.us/glsa/">
                        <li class="off-canvas-menu-item">GLSA</li>
                    </a>
                </ul>
            </div>
            {# TOP MENU #}
            <div class="off-canvas-content" data-off-canvas-content>
                <nav class="row menu expanded align-middle">
                    <div class="column text-right">
                        <div class="row align-middle hide-for-large" data-toggle="offCanvas">
                            <span class="icon fi-list"></span>
                            <span class="pcontrast">Menu</span>
                        </div>
                    </div>
                    <div class="column align-center">
                        <a href="/"><span class="starlogo"></span></a>
                    </div>
                    <div class="column">
                        <div class="row align-middle text-end">
                            <span class="column large-2 show-for-large icon fi-magnifying-glass"></span>
                            <input type="text" name="query" placeholder="Search" class="column large-6 show-for-large search" />
                            <div class="column large-3">
                                <a class="acontrast sans-serif" href="{% url 'login' %}">Login</a>
                            </div>
                        </div>
                    </div>
                </nav>
                {# BREADCRUMBS #}
                <header>
                    <div class="row expanded align-middle">
                        <div class "column" aria-label="You are here:" role="navigation">
                            <ul class="breadcrumbs">
                                <li><a href="/">Community Home</a></li>
                                {% block globalbreadcrumbs %}{% endblock globalbreadcrumbs %}
                            </ul>
                        </div>
                        <span class="column date text-end">{% now 'd F Y' %}</span>
                    </div>
                </header>

                {% block local_header %} {% endblock local_header %} {% block content %} {% endblock content %} {% block extra_content %} {% endblock extra_content %}

                <footer>
                    <div class="row align-middle align-justify footer-row">
                        <div class="column text-left hide-for-small-only large-4">
                            <address>
                        <p class="pcontrast nowrap">Bahá'í National Center <br/> 1233 Central Street<br/> Evanston IL, 60201<br/></p>
                        <a class="acontrast" href="tel:18477333400">(847) 733-3400</a>
                    </address>
                        </div>
                        <div class="column text-center large-4 plain-link">
                            <a class="" href="http://www.bahai.us/fund">
                                <img src="/static/img/OCSHeartSign.png">
                                <h4 class="acontrast">Brought to you by the National Bahá'í Fund</h4>
                            </a>
                        </div>
                        <div class="column text-right hide-for-small-only large-4">
                            <address>
                        <p class="pcontrast nowrap">Bahá'í House of Worship<br/> 100 Linden Ave<br/> Wilmette, IL 60091<br/></p>
                        <a class="acontrast" href="tel:18478532300">(847) 853-2300</a>
                    </address>
                        </div>
                    </div>
                    <div class="row align-center footer-row hide-for-large"><a href="{% url 'contact' %}" class="acontrast">Contact Us</a></div>
                    <div class="row text-center copyright">
                        <p class="pcontrast">&copy; 2017 National Spiritual Assembly of the Bahá'ís of the United States</p>
                    </div>
                </footer>
                <script src="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.js"></script>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
    <script>
        $("[data-circle-graph]").each(function() {
            var $graph = $(this),
                percent = parseInt($graph.data('percent'), 10),
                deg = 360 * percent / 36;
            if (percent > 50) {
                $graph.addClass('gt-50');
            }
            $graph.find('.circle-graph-progress-fill').css('transform', 'rotate(' + deg + 'deg)');
            $graph.find('.circle-graph-percents-number').html(percent + 'M');
        });
    </script>
</body>

</html>