{% extends 'factory/base.html' %} {% load static %} {% load render_bundle from webpack_loader %} {% block content %}
<main>
    {% if user.is_authenticated %}
    <div class="row">
        <div class="column small-12 medium-8">
            <!-- Main Page content -->
            <div class="row">
                <article class="column home-box">
                    <div class="row align-middle">
                        <div class="column small-12 medium-6 plain-column-left">
                            <img src="{% static 'img/natcon_how_icon.png' %}" alt="House of Worship">
                        </div>
                        <div class="column small-12 medium-6 plain-column-right">
                            <article class="text-center">
                                <h5>110th Bahá’í National Convention: <br>May 24 – 27, 2018</h5>
                                <hr>
                                <h5><a href="https://www.bahai.us/community/natcon2017/">Read more</a> about the 2017 National Convention</h5>
                            </article>
                        </div>
                    </div>
                </article>
            </div>
            <div class="row">
                <article class="column home-box">
                    <h4>National Spiritual Assembly Encourages Study of Three Major Letters</h4>
                <p>In the last year, the National Assembly has released three major letters― February 25 and December 8 of 2017 and January 31 of this year―focused on the current state of society and our appropriate response as Bahá’ís. To facilitate community study and discussion of these communications at Feast gatherings and on other suitable occasions, each letter is provided below, together with its corresponding translation into Persian, Spanish and Swahili and audio recording in English:</p>
                        <p><ul class="plain-list"><strong>Teaching and the Quest for Justice</strong>
                        <li><a href="https://s3.amazonaws.com/bahai-messages/nsa/2018/20180131_NSA_on-teaching-and-the-quest-for-justice.pdf" style="text-decoration:underline">January 31, 2018 (English)</a></li>
                        <li><a href="https://s3.amazonaws.com/bahai-messages/nsa/2018/20180131_NSA_on-teaching-and-the-quest-for-justice-Persian.pdf" style="text-decoration:underline">January 31, 2018 (Persian)</a></li>
                        <li><a href="https://s3.amazonaws.com/bahai-messages/nsa/2018/20180131_NSA_on-teaching-and-the-quest-for-justice-Spanish.pdf" style="text-decoration:underline">January 31, 2018 (Spanish)</a></li>
                        <li><a href="https://s3.amazonaws.com/bahai-messages/nsa/2018/20180131_NSA_on-teaching-and-the-quest-for-justice-Swahili.pdf" style="text-decoration:underline">January 31, 2018 (Swahili)</a></li>
                        <li>
                            Audio recording in English: provided courtesy of Mr. Richard Reid
                            <iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/393612216&color=2284a1&amp;auto_play=false&show_user=true"></iframe>
                        </li>
                    </ul></p>
                    <p></p><ul class="plain-list"><strong>The Spirit of Teaching</strong>
                        <li><a href="https://s3.amazonaws.com/bahai-messages/nsa/2017/20171208_nsa-spirit-of-teaching_english.pdf" style="text-decoration:underline">December 8, 2017 (English)</a></li>
                        <li><a href="https://s3.amazonaws.com/bahai-messages/nsa/2017/20171208_nsa-spirit-of-teaching_Persian.pdf" style="text-decoration:underline">December 8, 2017 (Persian)</a></li>
                        <li><a href="https://s3.amazonaws.com/bahai-messages/nsa/2017/20171208_nsa-spirit-of-teaching_spanish.pdf" style="text-decoration:underline">December 8, 2017 (Spanish)</a></li>
                        <li><a href="https://s3.amazonaws.com/bahai-messages/nsa/2017/20171208_nsa-spirit-of-teaching_swahili.pdf" style="text-decoration:underline">December 8, 2017 (Swahili)</a></li>
                    </ul></p>
                    <p></p><ul class="plain-list"><strong>America and the Five Year Plan</strong>
                        <li><a href="https://s3.amazonaws.com/bahai-messages/nsa/2017/20170225_nsa_america-five-year-plan.pdf" style="text-decoration:underline">February 25, 2017 (English)</a></li>
                        <li><a href="https://s3.amazonaws.com/bahai-messages/nsa/2017/20170225_nsa_america-five-year-plan_persian.pdf" style="text-decoration:underline">February 25, 2017 (Persian)</a></li>
                        <li><a href="https://s3.amazonaws.com/bahai-messages/nsa/2017/20170225_nsa_america-five-year-plan_spanish.pdf" style="text-decoration:underline">February 25, 2017 (Spanish)</a></li>
                        <li>
                            Audio recording in English: provided courtesy of Mr. Richard Reid
                            <iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/310577295%3Fsecret_token%3Ds-b2OP7&color=2284a1&amp;auto_play=false&show_user=true"></iframe>
                        </li>
                    </ul></p>
                </article>
            </div>
            <div class="row">
                <article class="column home-box">
                    <h4>Letters Regarding Excused Absences</h4>
                    <ul class="plain-list">
                        <li><a target="_top" href="https://s3.amazonaws.com/bahai-web/forms/Assemblies%26Communities/student-permission-request_17-18.pdf" style="text-decoration:underline">Letter for Students – Academic Year 2017–2018</a></li>
                        <li><a target="_top" href="https://s3.amazonaws.com/bahai-web/forms/Assemblies%26Communities/student-permission-request_18-19.pdf" style="text-decoration:underline">Letter for Students – Academic Year 2018–2019</a></li>
                        <li><a target="_top" href="https://s3.amazonaws.com/bahai-web/forms/Assemblies%26Communities/employee-permission-request-2018.pdf" style="text-decoration:underline">Letter for Employers – 2018 Calendar Year</a></li>
                    </ul>
                </article>
            </div>
            <div class="row">
                <article class="column home-box">
                    <h4>Riḍván 2017 <a href="https://s3.amazonaws.com/natcon2017.bahai.us/docs/2017-NSA-annual-report.pdf">Annual Report</a></h4>
                </article>
            </div>
            <div class="row">
                <article class="column home-box">
                    <h4>Avoidance of Partisan Politics Stressed</h4>
                    <p>
                        We direct your attention to a letter from the National Spiritual Assembly (<strong><a href="https://s3.amazonaws.com/bahai-messages/nsa/2016/20160308-nsa-avoidance-partisan-politics.pdf style="text-decoration:underline"">download here</a></strong>) stressing – for all Bahá'ís – the importance of avoiding partisan politics.
                    </p>
                    <p>
                        Note that the letter is supplemented by a message from the Universal House of Justice, addressed to the Bahá'ís of Iran and provided in <a href="https://s3.amazonaws.com/bahai-messages/nsa/2016/20130302-uhj-avoiding-involvement-in-politics_English.pdf" style="text-decoration:underline">English</a>, <a href="https://s3.amazonaws.com/bahai-messages/nsa/2016/20130302-uhj-avoiding-involvement-in-politics_Persian.pdf" style="text-decoration:underline">Persian</a>, and <a href="https://s3.amazonaws.com/bahai-messages/nsa/2016/20130302-uhj-avoiding-involvement-in-politics_Spanish.pdf" style="text-decoration:underline">Spanish</a>. The message, which takes up this same subject, is commended to your further study and reflection.
                    </p>
                </article>
            </div>
            <div class="row text-center">
                <article class="column home-box">
                    <h4><a href="www.bahai.us/bicentenary-resources">Bicentenary Resources Website</a></h4>
                </article>
            </div>
            <div class="row">
                <article class="column home-box">
                    <h4><a href="">Guidance from the Supreme Body on the current Five Year Plan</a></h4>
                    <ul>
                        <li><a href="https://s3.amazonaws.com/bahai-messages/uhj/2015/151229_uhj-to-cbc-conference-five-year-plan_english.pdf">December 29, 2015 – Supreme Body Defines Features of the Current Plan</a></li>
                        <li><a href="https://s3.amazonaws.com/bahai-messages/uhj/2016/160102_uhj-new-plan-first-century-formative-age_english.pdf">January 2, 2016 – Supreme Body Comments on Five Year Plan</a></li>
                        <li><a href="https://s3.amazonaws.com/bahai-messages/uhj/2016/160326_uhj-bahais-world-TDP_English.pdf">March 26, 2016 – 100 th Anniversary of Tablets of the Divine Plan</a></li>
                        <li><a href="https://s3.amazonaws.com/bahai-messages/uhj/2016/160419_uhj-ridvan-2016-message-(English).pdf">Riḍván 2016 Letter</a></li>
                        <li><a href="https://s3.amazonaws.com/bahai-messages/uhj/2016/160518_uhj-re-bicentenaries-of-twin-birthdays_english.pdf">May 18, 2016 – Supreme Body on the Bicentenary Celebrations of the Twin Holy Birthdays</a></li>
                        <li><a href="https://s3.amazonaws.com/bahai-messages/uhj/2017/20170301_uhj_global-economic-well-being_english.pdf">March 1, 2017 – Supreme Body on the Path to Global Economic Well-Being</a></li>
                        <li><a href="">Reflections on Growth #37</a> - <strong>need link</strong></li>
                        <li><a href="https://s3.amazonaws.com/bahai-messages/uhj/2017/20170419_UHJ-ridvan-2017-message_english.pdf">Riḍván 2017 Letter</a></li>
                        <li><a href="https://s3.amazonaws.com/bahai-messages/uhj/2017/20170427_UHJ-guidance-on-social-action-and-public-discourse.pdf">April 27, 2017 – Supreme Body on Social Action and Public Discourse</a></li>
                    </ul>
                </article>
            </div>

            <!--Resources-->
            <div class="row">
                <article class="column home-box">
                    <h4>Directories</h4>
                    <ul class="plain-list">
                        <li><a href="">Assemblies and Groups</a></li>
                        <li><a href="">Auxiliary Board</a></li>
                        <li><a href="">Continental Board of Counselors</a></li>
                        <li><a href="">Regional Councils</a></li>
                        <li><a href="">National Offices</a></li>
                        <li><a href="https://www.bahai.us/community/huququllah/">The Board of Trustees of Ḥuqúqu'lláh in the United States</a></li>
                        <li><a href="">Bahá’í Center Assistance</a></li>
                    </ul>
                </article>
            </div>
        </div>

        <!-- Sidebar -->
        <div class="column small-12 medium-4">
            <div class="sidebar">
                <article class="home-box row">
                    <div class="column row row">
                        <h5>2018 Fund Goal: $36M</h5>
                        <div class="circle-graph fund" data-circle-graph data-percent="26,929,543">
                            <div class="circle-graph-progress">
                                <div class="circle-graph-progress-fill"></div>
                            </div>
                            <div class="circle-graph-percents">
                                <div class="circle-graph-percents-wrapper">
                                    <span class="circle-graph-percents-number"></span>
                                    <span class="circle-graph-percents-units">of 36M</span>
                                </div>
                            </div>
                        </div>
                        <p class="text-center">$26,929,543.25<br>As of February 28, 2018</p>
                        <div class="text-right"><a class="button plain-button" target="blank" href="https://ocs.bahai.us/ocs/">Contribute »</a></div>
                    </div>
                </article>
                <article class="home-box">
                    <h5><a href="https://bahai-messages.s3.amazonaws.com/uhj/2014/1211_UHJ_50-Yr_Table_of_Dates/20141211_UHJ_50-Yr_Table_of_Dates_(English).pdf">Bahá'í Calendar for Next 50 Years – Holy Days/Feast Days</a></h5>
                    <ul class="plain-list">
                        <li>Ayyám-i-Há:February 25 - March 1</li>
                        <li>The Fast: March 2-20</li>
                        <li>Naw-Rúz: March 21</li>
                    </ul>
                </article>
                <article class="home-box">
                    <h5>Recent Guidance</h5>
                    <ul class="plain-list">
                        <li></li>
                    </ul>
                </article>
                <article class="home-box"> 
                    <h5>Pilgrimage to the Holy Land</h5>
                    <p>Contact the Pilgrimage Office at the Bahá’í World Center: <a href="mailto:pilsched@bwc.org">pilsched@bwc.org</a> or <a href="https://bahai.bwc.org/pilgrimage/">https://bahai.bwc.org/pilgrimage/</a></p>
                </article>
                <article class="home-box">
                    <h5>Supreme Body Comments on the Path to Global Economic Well-Being</h5>
                    </p>
                    <a href="https://s3.amazonaws.com/bahai-messages/uhj/2017/20170301_uhj_global-economic-well-being_english.pdf">Download letter dated March 1, 2017</a>
                    <p style="font-size: 10px;"><strong>Audio recording provided courtesy of Mr. Richard Reid</strong></p>
                    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/327172604%3Fsecret_token%3Ds-sgFcd&amp;color=2284a1&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false"></iframe>
                </article>
                <article class="home-box">
                    <h5>Mr. Paul Lample, Member of the House of Justice, Elaborates on the New Five Year Plan</h5>
                    <p>May 20, 2016</p>
                    <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/267329365%3Fsecret_token%3Ds-FMqjF&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                    <br>
                    <h5>Transcript of Talk Given by Mr. Paul Lample at Bahá’í House of Worship</h5>
                    <p>The National Spiritual Assembly is delighted to make available to the friends, many of whom have requested it, a full transcript of the talk given by Mr. Paul Lample, current member of the Universal House of Justice, at the Bahá’í
                        House of Worship in Wilmette, on May 20 of this year.</p>
                    <p>The transcript, which is a little over 18 pages in length, can be accessed through the link immediately below. It can either be read online or downloaded to your own computer for long-term study and reflection.</p>
                    <p><a href="https://s3.amazonaws.com/bahai-web/tab/transcripts/May-20-transcript-Mr.-Paul-Lample-at-bhow_english.pdf">Transcript of May 20 Talk by Mr. Paul Lample at the Bahá’í House of Worship</a></p>
                </article>
                <article class="home-box">
                    <h5>Need Help?</h5>
                    <p>For support or inquiries regarding the new site, please contact <a href="mailto:web@bahai.us">web@bahai.us</a></p>
                </article>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <h3>Please <a href="{% url 'login' %}">login</a> to view this page</h3>
    </div>
    {% endif %}
</main>
{% endblock %}