{% extends 'factory/base.html' %} {% load static %} {% block content %}
<main>
    <div class="row">
        <div class="column small-12 medium-8">
            <!--News TAB-->
            <section>
                <h4>Featured News</h4>
                <div class="article-box">
                    <a href="#articleview">
                        <article class="row">
                            <div class="column news-img large-2 small-2">
                                <img src="https://c1.staticflickr.com/5/4181/34344570611_a270a38313_q.jpg" alt="">
                            </div>
                            <div class="column large-10 small-10">
                                <h4>Regional Bahá’í Councils at 20: their origins, evolution and impact</h4>
                            </div>
                        </article>
                    </a>
                </div>
                <div class="article-box">
                    <a href="#articleview">
                        <article class="row expanded">
                            <div class="column news-img large-2 small-2">
                                <img src="{% static 'img/spacecat.png' %}" alt="space cat">
                            </div>
                            <div class="column large-10 small-10">
                                <h4>Article Title</h4>
                            </div>
                        </article>
                    </a>
                </div>
            </section>
            <!--Messages-->
            <h4>Featured Messages</h4>
            <div class="row">
                <article id="" class="column small-12 article-box">
                    <div class="row expanded align-middle">
                        <h4 class="column small-9 text-left">America and the Five Year Plan</h4>
                        <h6 class="column small-3 text-right">25 February 2017</h6>
                    </div>
                    <div class="row expanded">
                        <div class="column small-9">
                            <p>We are pleased to make available to you two recently released letters from the National Spiritual Assembly.</p>
                            <p>The first, a cover letter addressed to the American Bahá’í community, is intended to introduce the second, a letter conveying the National Assembly’s thoughts on the current troubling state of affairs in our country and on
                                our most effective response as Bahá’ís.</p>
                            <p>Each of the two documents is presented in English, in PDF form. Translations of the second―the Assembly’s letter on “America and the Five Year Plan”―are offered in Persian and Spanish, also in PDF form.</p>
                        </div>
                        <div class="column small-3 text-right">
                            <ul class="plain-list">
                                <li><a href="">English PDF</a></li>
                                <li><a href="">Spanish PDF</a></li>
                                <li><a href="">Persian PDF</a></li>
                                <li><a href="">French PDF</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <!--Sidebar-->
        <div class="column small-12 medium-4">
            <article class="sidebar-box row">
                <div class="column row row">
                    <h5>2018 Fund Goal: $36M</h5>
                    <div class="circle-graph fund" data-circle-graph data-percent="4,095,020">
                        <div class="circle-graph-progress">
                            <div class="circle-graph-progress-fill"></div>
                        </div>
                        <div class="circle-graph-percents">
                            <div class="circle-graph-percents-wrapper">
                                <span class="circle-graph-percents-number"></span>
                                <span class="circle-graph-percents-units">of 36M</span>
                            </div>
                        </div>
                    </div>
                    <!--<ul class="bar-graph">
                    <li class="bar-graph-axis">
                        <div class="bar-graph-label">36M</div>
                        <div class="bar-graph-label">22.75M</div>
                        <div class="bar-graph-label">14.7M</div>
                        <div class="bar-graph-label">7.35M</div>
                    </li>
                    <li class="bar primary" style="height: 11.3%;" title=""></li>
                </ul>-->
                    <p class="text-center">$4,095,020<br>As of June 30, 2017</p>
                    <div class="text-right"><a class="button plain-button" target="blank" href="https://ocs.bahai.us/ocs/">Contribute »</a></div>
                </div>
            </article>
            <article class="sidebar-box">
                <h5>
                    <a href="https://bahai-messages.s3.amazonaws.com/uhj/2014/1211_UHJ_50-Yr_Table_of_Dates/20141211_UHJ_50-Yr_Table_of_Dates_(English).pdf">
                        <p>Bahá'í Calendar for Next 50 Years – Holy Days/Feast Days</p>
                    </a>
                </h5>
                <hr>
                <ul class="plain-list">
                    <li>Birth of the Báb: October 21</li>
                    <li>Birth of Bahá’u’lláh: October 22</li>
                </ul>
            </article>
            <article class="sidebar-box">
                <h5>Service Opportunities</h5>
            </article>
            <article class="sidebar-box">
                <h5>Popular Forms:</h5>
                <ul class="plain-list">
                    <li>Holy Day letter for students</li>
                    <li>LSA Insurance form</li>
                    <li></li>
                </ul>
            </article>
            <article class="sidebar-box">
                <h5>Directories</h5>
                <ul class="plain-list">
                    <li><a href="">Assemblies and Groups</a></li>
                    <li><a href="">Auxiliary Board</a></li>
                    <li><a href="">Continental Board of Counselors</a></li>
                    <li><a href="">Regional Councils</a></li>
                    <li><a href="">National Offices</a></li>
                    <li><a href="https://www.bahai.us/community/huququllah/">The Board of Trustees of Ḥuqúqu'lláh in the United States</a></li>
                    <li><a href="">Bahá’í Center Assistance</a></li>
                </ul>
            </article>
            <article class="sidebar-box">
                <h5>Need Help?</h5>
                <p>For support or inquiries regarding the new site, please contact <a href="mailto:web@bahai.us">web@bahai.us</a></p>
            </article>
            <article class="sidebar-box">
                <a href="https://www.bahai.us/glsa/">
                    <h5>GLSA</h5>
                </a>
            </article>
        </div>
    </div>
</main>
{% endblock %}