{% extends 'messages/messagesbase.html' %} {% block localbreadcrumbs %}
<li><a href="{% url 'Feast' %}"><span class="show-for-sr">Current: </span>Feast</a></li>
{% endblock localbreadcrumbs %} {% block extra_content %}
<main>
    <h1>Feast</h1>

    <article id="" class="small-12 article-box">
        <div class="row align-middle">
            <h4 class="column small-9 text-left"><a href="{% url 'letter' %}">Message for the Feast of Rahmat</a></h4>
            <h6 class="column small-3 text-right">June 22, 2017</h6>
        </div>
        <div class="row">
            <div class="column small-9 summary">
                <p>We are pleased to make available online—in both PDF and MS Word formats—the National Spiritual Assembly's message for the Feast of Masá’il.</p>
                <p>In addition, we are delighted to be able to provide Persian and Spanish translations, both of which are offered in PDF form­—with the Spanish translation also offered in MS Word format.</p>
            </div>
            <div class="column small-3 text-right tablet-12">
                <ul class="plain-list">
                    <li><a href="">English PDF</a></li>
                    <li><a href="">English DOC</a></li>
                    <li><a href="">Spanish PDF</a></li>
                    <li><a href="">Spanish DOC</a></li>
                    <li><a href="">Persian PDF</a></li>
                </ul>
            </div>
    </article>

    <article id="" class="small-12 article-box">
        <div class="row align-middle">
            <h4 class="column small-9 text-left">Message for the Feast of Sultán</h4>
            <h6 class="column small-3 text-right">13 January 2017</h6>
        </div>
        <div class="row">
            <div class="column small-9 summary">
                <p>We are pleased to make available online—in both PDF and MS Word formats—the National Spiritual Assembly's message for the Feast of Masá’il.</p>
                <p>In addition, we are delighted to be able to provide Persian and Spanish translations, both of which are offered in PDF form­—with the Spanish translation also offered in MS Word format.</p>
            </div>
            <div class="column small-3 text-right tablet-12">
                <ul class="plain-list">
                    <li><a href="">English PDF</a></li>
                    <li><a href="">English DOC</a></li>
                    <li><a href="">Spanish PDF</a></li>
                    <li><a href="">Spanish DOC</a></li>
                    <li><a href="">Persian PDF</a></li>
                </ul>
            </div>
    </article>
    <article id="" class="small-12 article-box">
        <div class="row align-middle">
            <h4 class="column small-9 text-left">Message for the Feast of Sultán</h4>
            <h6 class="column small-3 text-right">13 January 2017</h6>
        </div>
        <div class="row">
            <div class="column small-9 summary">
                <p>We are pleased to make available online—in both PDF and MS Word formats—the National Spiritual Assembly's message for the Feast of Masá’il.</p>
                <p>In addition, we are delighted to be able to provide Persian and Spanish translations, both of which are offered in PDF form­—with the Spanish translation also offered in MS Word format.</p>
            </div>
            <div class="column small-3 text-right tablet-12">
                <ul class="plain-list">
                    <li><a href="">English PDF</a></li>
                    <li><a href="">English DOC</a></li>
                    <li><a href="">Spanish PDF</a></li>
                    <li><a href="">Spanish DOC</a></li>
                    <li><a href="">Persian PDF</a></li>
                </ul>
            </div>
    </article>
    <article id="" class="small-12 article-box">
        <div class="row align-middle">
            <h4 class="column small-9 text-left container">Message for the Feast of Sultán</h4>
            <h6 class="column small-3 text-right">13 January 2017</h6>
        </div>
        <div class="row">
            <div class="column small-9 summary">
                <p>We are pleased to make available online—in both PDF and MS Word formats—the National Spiritual Assembly's message for the Feast of Masá’il.</p>
                <p>In addition, we are delighted to be able to provide Persian and Spanish translations, both of which are offered in PDF form­—with the Spanish translation also offered in MS Word format.</p>
            </div>
            <div class="column small-3 text-right tablet-12">
                <ul class="plain-list">
                    <li><a href="">English PDF</a></li>
                    <li><a href="">English DOC</a></li>
                    <li><a href="">Spanish PDF</a></li>
                    <li><a href="">Spanish DOC</a></li>
                    <li><a href="">Persian PDF</a></li>
                </ul>
            </div>
    </article>
</main>

{% endblock extra_content %}