{% extends 'messages/messagesbase.html' %} {% block localbreadcrumbs %}
<li><a href="{% url 'Feast' %}"><span class="show-for-sr">Current: </span>Feast</a></li>
{% endblock localbreadcrumbs %} {% block extra_content %}
<main>
    <h4>Message for the Feast of Rahmat</h4>
    <p>To the American Bahá’í community for the Feast of Rahmat</p>
    <p>Beloved Friends,</p>
    <p>Excitement is mounting as―in thousands of communities across the country―preparations for the celebration of the historic bicentenary of Bahá’u’lláh’s Birth energetically proceed. As we join you in this wonderful sense of anticipation, we thought
        it timely to share some of the news reaching us from other parts of the world that illustrate the remarkably inventive ways our Bahá’í sisters and brothers are making the most of the unprecedented opportunities for teaching the occasion presents.</p>
    <p>Reports from the International Teaching Center highlight ways individuals, communities, and institutions―especially Local Spiritual Assemblies―are everywhere making plans for joyous and meaningful celebrations of the event, a number of them by:
        <ul>
            <li>Involving every Bahá’í individual and family in the event preparations and encouraging them to seek out and teach all with whom they share a connection.</li>
            <li>Visiting and conversing with all participants in the core activities, particularly those from the larger society and their families, to help nurture their connection to the Faith and to invite them to extend the conversation about the teachings
                of Bahá’u’lláh to a growing number of people.</li>
            <li>Reaching out to all the households and inhabitants of a locality to participate in the community-building activities currently in place.</li>
            <li>Strengthening the devotional character of the community through multiplying gatherings for prayer, where discussions on spiritual themes naturally occur.</li>
            <li>Learning to organize local Holy Day observances that welcome the participation of the greatest possible number of people.</li>
            <li>Deepening friendships with local leaders and bringing to their attention the significance of the Twin Holy Birthdays.</li>
            <li>Using creative means―including visual arts, songs, and literature―to convey the significance of the appearance of the Blessed Beauty and His Revelation.</li>
        </ul>
    </p>
    <p>In the Pointe-Noire cluster of the Republic of the Congo, a reflection meeting was organized to consult on the cluster’s bicentennial celebrations of the Birth of Bahá’u’lláh. The friends drew up a calendar featuring meetings each month leading up
        to October’s Twin Holy Birthdays―with an aim to ensure the events are attended by as large a group as possible. During this initial meeting, an initiative called “A Gift for Bahá’u’lláh” was launched. A community member explained:
        <blockquote>The aim of the initiative is to raise awareness of and mobilize each Bahá’í in carrying out activities in their neighbourhood to introduce the Person of Bahá’u’lláh to parents, neighbours, friends, and acquaintances. We designed a brochure that
            presents a short story on the life of the Blessed Beauty and describes the various community-building activities. In the brochure, a practical approach is suggested for the friends to get involved in various social spaces in a neighbourhood
            and to mention the Name of Bahá’u’lláh. We realized that mentioning the Name of Bahá’u’lláh is sparking excitement and interest―which is something we had not expected.</blockquote>
    </p>
    <p>Another gift to Bahá’u’lláh came from the youth choir of the Bahá’ís of Pointe-Noire, which prepared a musical album called “The Bicentenary.” The songs mention the Person of Bahá’u’lláh and describe His mission. The members of the choir see the album
        as “a tool to mobilize our peers and the entire community to offer a gift to Bahá’u’lláh.”</p>
    <p>The Area Teaching Committee of the Occidente Norte cluster in El Salvador organized a teaching conference to encourage the friends to explore ways of making it possible for 160 new souls in two cycles to engage in ongoing conversations about Bahá’u’lláh.
        The Spiritual Assembly of Sonsonate held gatherings for the community on a monthly basis to consult about the importance of the celebrations and of individual plans to reach friends, families, and participants in the core activities. Every Friday,
        the friends deepen on the life of the Manifestation, then visit others to share stories about the Person of Bahá’u’lláh and inspire them to support the preparations for the bicentennial celebrations.</p>
    <p>In the Querétaro cluster of Mexico, the friends have found creative ways to introduce the Person of Bahá’u’lláh and His Message to their friends and acquaintances in the local community. An example is related by a participant as follows:
        <blockquote>In January, our Corregidora community organized a gathering called “Falling in Love with Bahá’u’lláh,” consisting of devotions, stories from the life of Bahá’u’lláh, and video presentations. Friends of varying ages shared stories about events
            in His life that occurred at a time when they were of a similar age to Bahá’u’lláh. They presented their stories in the following manner: “I am ___ years old, and when Bahá’u’lláh was this age. . . .” The anecdotes were presented in creative
            ways and were very dignified. The video presentations were from six or seven youths who recorded a one-minute video each sharing about their love for Bahá’u’lláh. The recordings were filled with emotion [that] permeated the hearts of all those
            who watched.</blockquote>
    </p>
    <p>Dearest friends! These efforts underway in every corner of the globe are notable for both their diversity of expression and their oneness in adoration of the Promised One of All Ages. What a joy and privilege it is to join hands with these precious
        souls in celebrating His appearance in this world and what a testimony this year will be to His unifying power!</p>
    <p>Be assured of our abiding love and of the constancy of our prayers for great success in your efforts to befittingly mark this two-hundredth anniversary of the coming of the King of Glory.</p>
    <p>With loving Bahá’í greetings,</p>
    <p>NATIONAL SPIRITUAL ASSEMBLY OF THE BAHÁ’ÍS OF THE UNITED STATES</p>
    <p>Kenneth E. Bowers</p>
    <p>Secretary</p>
</main>
{% endblock extra_content %}