 {% extends '../factory/base.html' %} {% load wagtailcore_tags %} {% load wagtailimages_tags %} {% load static %} {% block globalbreadcrumbs %}
<span class="column"><a href="/">Home</a></span> {% endblock globalbreadcrumbs %} {% block content %}

<main>
    <h1>Messages</h1>
    <label for="messagessearch"></label>
    <form action="submit">
        <div class="row align-middle input-group">
            <span class="search input-group-label fi-magnifying-glass"></span>
            <input class="search input-group-field col-xs-6" id="messagessearch" placeholder="Search the Message Library" aria-describedby="Search Messages">
            <a class="input-group-button button">Search</a>
        </div>
    </form>

    <ul class="dropdown menu" data-dropdown-menu>
        <li class="has-submenu">
            <a href="#0">Author</a>
            <ul class="submenu menu vertical" data-submenu>
                <li><a href="{% url 'Universal_House_of_Justice' %}">Universal House of Justice</a></li>
                <li><a href="{% url 'National_Spiritual_Assembly' %}">National Spiritual Assembly</a></li>
                <li><a href="{% url 'feast' %}">Feast</a></li>
                <li><a href="{% url 'special' %}">Special</a></li>
            </ul>
        </li>
    </ul>

    <hr>

    <button type="button" class="add-page button">Add Message</button>


    <div id="message">
        {% for new in new_messages %}
        <section>
            <div class="row">
                <h4 class="column small-12 medium-6 align-start">{{new.title}}</h4>
                <h6 class="column small-12 medium-6 text-end">{{new.date}}</h6>
            </div>
            <div class="row">
                <div class="column small-12 medium-8">
                    <p>{{new.summary|safe}}</p>
                </div>
                <div class="column small-12 medium-4 text-end">
                    <ul class="downloads">
                        {% for item in new.attachments %}
                        <li>
                            {{item.value.Language}} {% for doc in item.value.Document_list %}
                            <a href="{{doc.url}}">{{doc.title}}</a> {% endfor %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="column small-12 text-end">
                    <button type="button" class="edit button" id="{{new.id}}">Edit</button>
                </div>
            </div>
        </section>
        {% endfor %}
    </div>
</main>

<script>
    $('.edit').click(function() {
        var id = $(this).attr('id');
        return editpage(id);
    });
</script>
{% endblock content %}