{% extends "base.html" %}
{% load static %}


{% block sectionheader %}
<h1 class="message-title">Messages and Letters</h1>
<div class="container">
  <form role="form" class="layout horizontal center" id="desktopSearchForm" action="{% url 'search' %}" method="get">
    <div class="flex message-icon"><iron-icon class="" type="submit" icon="search"></iron-icon></div>
    <input id="desktopSearch" class="message-search flex-6" type="text" name="query" placeholder="Search the Library">
    <label for="desktopSearch" class=""></label>
  </form>
</div>
{% endblock sectionheader %}

{% block secondarynav %}
<div class="secondary-nav-margin">
  <div class="layout horizontal wrap secnav-hover">
    <div class="layout horizontal wrap flex-1">
      <a href="/messages/feast_message_page/" class="message-nav-feast flex-1 center"><div>Feast Letters</div></a>
      <a href="#" class="message-nav-nsa flex-1 center"><div>National Spiritual Assembly</div></a>
    </div>
    <div class="layout horizontal wrap flex-1">
      <a href="#" class="message-nav-uhj flex-1 center"><div>Universal House of Justice</div></a>
      <a href="#" class="message-nav-supp flex-1 center"><div>Special</div></a>
    </div>
  </div>
</div>



{% endblock secondarynav %}



{% block breadcrumbs %}
<li itemprop="itemListElement" itemtype="http://schema.org/ListItem" itemscope> <a href="{% url '#' %}" itemprop="item">Messages Home</a></li>
{% endblock %}


{% block content %}

<div class="layout vertical center">
 
<bahai-messagecard docid='1056'></bahai-messagecard>
-------
{# Teaser Card Format #}
  <div id="card" class="container nsa-border">
    <div class="teaser-card card-view nsa-teaser-card-border mobile-card">
      <div class="layout horizontal">
        <h3 class="flex-3">Title</h3>
        <h3 class="flex-1">Date</h3>
      </div>
    </div>
    <div class="full-card card-view nsa-front-card-border">
      <div class="layout horizontal around-justified wrap">
        <div class="flex-2 mobile-card">
          <div class="layout horizontal">
            <h3 class="flex-3">Title</h3>
            <h3 class="flex-1">Date</h3>
          </div>
          <hr/>
            <p class="summary">Summary</p>
          <hr class="mobile-hr"/>  
        </div>
        <div class="flex-2 mobile-card">
          <div class="layout horizontal around-justified">
            <h3>English</h3>
            <h3><a href="#">PDF</a></h3>
            <h3><a href="#">DOCX</a></h3>
          </div>
          <div class="layout horizontal around-justified">
            <h3>Spanish</h3>
            <h3><a href="#">PDF</a></h3>
            <h3><a href="#">DOCX</a></h3>
          </div>
          <div class="layout horizontal around-justified">
            <h3>Persian</h3>
            <h3><a href="#">PDF</a></h3>
            <h3><a href="#">DOCX</a></h3>
          </div>
        </div>
      </div>
      <hr/>
      <div class="layout horizontal around-justified">
        <h3 class="mobile-social"><a href="emailto:">Email</a></h3>
        <h3 class="mobile-social"><a href="">Facebook</a></h3>
        <h3 class="mobile-social"><a href="">Twitter</a></h3>
      </div>  
    </div>
  </div>
{# Front Page Card Format #}
  <div id="front-card" class="container nsa-border">
    
  </div>
{# Front Page Additional Letters Card Format #}
  <div class="container nsa-border">
    <div class="nsa-front-card-border">
      <div class="layout horizontal around-justified wrap">
        <div class="flex-2 mobile-card">
          <div class="layout horizontal">
            <h3 class="flex-3">Title</h3>
            <h3 class="flex-1">Date</h3>
          </div>
          <hr/>
            <p class="summary">240 character summary?</p>
          <hr class="mobile-hr"/>  
        </div>
        <div class="flex-2 mobile-card">
          <div class="layout horizontal around-justified">
            <h3>English</h3>
            <h3><a href="#">PDF</a></h3>
            <h3><a href="#">DOCX</a></h3>
          </div>
          <div class="layout horizontal around-justified">
            <h3>Spanish</h3>
            <h3><a href="#">PDF</a></h3>
            <h3><a href="#">DOCX</a></h3>
          </div>
          <div class="layout horizontal around-justified">
            <h3>Persian</h3>
            <h3><a href="#">PDF</a></h3>
            <h3><a href="#">DOCX</a></h3>
          </div>
          <hr/>
          <h3 class="add-content">Additional Title</h3>
          <hr/>
          <div class="layout horizontal around-justified">
            <h3>English</h3>
            <h3><a href="#">PDF</a></h3>
            <h3><a href="#">DOCX</a></h3>
          </div>
          <div class="layout horizontal around-justified">
            <h3>Spanish</h3>
            <h3><a href="#">PDF</a></h3>
            <h3><a href="#">DOCX</a></h3>
          </div>
          <div class="layout horizontal around-justified">
            <h3>Persian</h3>
            <h3><a href="#">PDF</a></h3>
            <h3><a href="#">DOCX</a></h3>
          </div>
        </div>
      </div>  
      <hr/>
      <div class="layout horizontal around-justified">
        <h3 class="mobile-social"><a href="emailto:">Email</a></h3>
        <h3 class="mobile-social"><a href="">Facebook</a></h3>
        <h3 class="mobile-social"><a href="">Twitter</a></h3>
      </div>  
    </div>
  </div>
{# Library Card Content Format #}
  <div class="container nsa-border">
    <div class="nsa-library-card-border">
      <div class="layout horizontal container">
        <div class="library-card-background flex-1">&nbsp;</div>
          <div class="layout horizontal around-justified flex-3">
            <h3 class="mobile-social"><a href="emailto:">Email</a></h3>
            <h3 class="mobile-social"><a href="">Facebook</a></h3>
            <h3 class="mobile-social"><a href="">Twitter</a></h3>
          </div>
      </div>
      <div class="layout horizontal around-justified library-padding wrap">
        <div class="flex-2 mobile-card">
          <div class="layout horizontal">
            <h3 class="flex-3">Title</h3>
            <h3 class="flex-1">Date</h3>
          </div>
          <hr/>
          <h3 class="summary">Summary</h3>
          <hr class="mobile-hr"/>
        </div>
        <div class="flex-2 mobile-card">
          <div class="layout horizontal around-justified">
            <h3>English</h3>
            <h3><a href="#">PDF</a></h3>
            <h3><a href="#">DOCX</a></h3>
          </div>
          <div class="layout horizontal around-justified">
            <h3>Spanish</h3>
            <h3><a href="#">PDF</a></h3>
            <h3><a href="#">DOCX</a></h3>
          </div>
          <div class="layout horizontal around-justified">
            <h3>Persian</h3>
            <h3><a href="#">PDF</a></h3>
            <h3><a href="#">DOCX</a></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
{# Search Result Card Content Format #}
  <div class="container nsa-border">
    <div class="nsa-search-card-border">
    <div class="layout horizontal around-justified wrap">
      <div class="flex-2 mobile-card">
        <div class="layout horizontal">
          <h3 class="flex-3">Title</h3>
          <h3 class="flex-1">Date</h3>
        </div>
        <hr/>
          <h3 class="summary">Search Result Abstract</h3>
        <hr class="mobile-hr"/>  
      </div>
      <div class="flex-2 mobile-card">
        <div class="layout horizontal around-justified">
          <h3>English</h3>
          <h3><a href="#">PDF</a></h3>
          <h3><a href="#">DOCX</a></h3>
        </div>
        <div class="layout horizontal around-justified">
          <h3>Spanish</h3>
          <h3><a href="#">PDF</a></h3>
          <h3><a href="#">DOCX</a></h3>
        </div>
        <div class="layout horizontal around-justified">
          <h3>Persian</h3>
          <h3><a href="#">PDF</a></h3>
          <h3><a href="#">DOCX</a></h3>
        </div>
      </div>
    </div>
    <hr/>
    
    <div class="layout horizontal around-justified">
      <h3 class="mobile-social"><a href="emailto:">Email</a></h3>
      <h3 class="mobile-social"><a href="">Facebook</a></h3>
      <h3 class="mobile-social"><a href="">Twitter</a></h3>
    </div>  
  </div>
  </div>



</div>
<script>

$(document).ready(function() {
  $('div.full-card').hide();
  $('#card').on("click", function() {
    $('div.card-view').toggle();
  })
});
</script>
{% endblock content %}


