{% extends 'messages/messagesbase.html' %} {% load static %} {% block globalbreadcrumbs %}
<li><a href="{% url 'messages' %}"><span class="show-for-sr">Current: </span>Messages</a></li> {% endblock globalbreadcrumbs %} {% block extra_content %}

<main>
    <h3>Messages</h3>
    <h4></h4>
    <div class="row expanded">
        <article id="" class="column small-12 article-box">
            <div class="row expanded align-middle">
                <h4 class="column small-9 text-left">America and the Five Year Plan</h4>
                <h6 class="column small-3 text-right">25 February 2017</h6>
            </div>
            <div class="row expanded">
                <div class="column small-9">
                    <p>We are pleased to make available to you two recently released letters from the National Spiritual Assembly.</p>
                    <p>The first, a cover letter addressed to the American Bahá’í community, is intended to introduce the second, a letter conveying the National Assembly’s thoughts on the current troubling state of affairs in our country and on our most
                        effective response as Bahá’ís.</p>
                    <p>Each of the two documents is presented in English, in PDF form. Translations of the second―the Assembly’s letter on “America and the Five Year Plan”―are offered in Persian and Spanish, also in PDF form.</p>
                </div>
                <div class="column small-3 text-right tablet-12">
                    <ul class="plain-list">
                        <li><a href="">English PDF</a></li>
                        <li><a href="">Spanish PDF</a></li>
                        <li><a href="">Persian PDF</a></li>
                        <li><a href="">French PDF</a></li>
                    </ul>
                </div>
        </article>
        </div>
        <hr>
        <div class="row">
            <div class="column large-6 medium-6 small-12">
                <a href="{% url 'Universal_House_of_Justice' %}">
                    <h4>Universal House of Justice</h4>
                </a>
                <section>
                    <article id="" class="small-12 article-box">
                        <div class="row align-middle">
                            <h4 class="column small-9 text-left">Supreme Body Greets Participants in Dedication of Mother Temple of South America</h4>
                            <h6 class="column small-3 text-right tablet-12">14 October 2016</h6>
                        </div>
                        <div class="row">
                            <div class="column small-9">
                                <p>We are pleased to make available to you electronically a message from the Universal House of Justice released today, October 14, and addressed to the friends gathered in Santiago for the dedication of the newly completed
                                    Bahá’í House of Worship of Chile, the Mother Temple of the South American continent.
                                    <br> The message is provided in English and in French and Spanish translations. Additional translations will be posted as they become available.</p>
                            </div>
                            <div class="column small-3 text-right tablet-12">
                                <ul class="plain-list">
                                    <li><a href="">English PDF</a></li>
                                    <li><a href="">Spanish PDF</a></li>
                                    <li><a href="">Persian PDF</a></li>
                                    <li><a href="">French PDF</a></li>
                                </ul>
                            </div>
                    </article>
                    <article id="" class="small-12 article-box">
                        <div class="row align-middle">
                            <h4 class="column small-9 text-left">Supreme Body Greets Participants in Dedication of Mother Temple of South America</h4>
                            <h6 class="column small-3 text-right tablet-12">14 October 2016</h6>
                        </div>
                        <div class="row">
                            <div class="column small-9">
                                <p>We are pleased to make available to you electronically a message from the Universal House of Justice released today, October 14, and addressed to the friends gathered in Santiago for the dedication of the newly completed
                                    Bahá’í House of Worship of Chile, the Mother Temple of the South American continent.
                                    <br> The message is provided in English and in French and Spanish translations. Additional translations will be posted as they become available.</p>
                            </div>
                            <div class="column small-3 text-right tablet-12">
                                <ul class="plain-list">
                                    <li><a href="">English PDF</a></li>
                                    <li><a href="">Spanish PDF</a></li>
                                    <li><a href="">Persian PDF</a></li>
                                    <li><a href="">French PDF</a></li>
                                </ul>
                            </div>
                    </article>
                </section>
                </div>
                <div class="column large-6 medium-6 small-12">
                    <a href="{% url 'National_Spiritual_Assembly' %}">
                        <h4>National Spiritual Assembly</h4>
                    </a>
                    <section>
                        <article id="" class="small-12 article-box">
                            <div class="row align-middle">
                                <h4 class="column small-9 text-left">Avoidance of Partisan Politics Stressed</h4>
                                <h6 class="column small-3 text-right tablet-12">10 March 2016</h6>
                            </div>
                            <div class="row">
                                <div class="column small-9">
                                    <p>We direct your attention to a letter from the National Spiritual Assembly stressing -- for all Bahá'ís – the importance of avoiding partisan politics.
                                        <br>Note that the letter is supplemented by a message from the Universal House of Justice, addressed to the Bahá'ís of Iran and provided in English, Persian, and Spanish. The message, which takes up this same subject,
                                        is commended to your further study and reflection.
                                        <br>All four of the documents are provided in PDF form for your ease of access and printing.</p>
                                </div>
                                <div class="column small-3 text-right tablet-12">
                                    <ul class="plain-list">
                                        <li><a href="">English PDF</a></li>
                                        <li><a href="">English DOC</a></li>
                                        <li><a href="">Spanish PDF</a></li>
                                        <li><a href="">Spanish DOC</a></li>
                                        <li><a href="">Persian PDF</a></li>
                                    </ul>
                                </div>
                        </article>
                        <article id="" class="small-12 article-box">
                            <div class="row align-middle">
                                <h4 class="column small-9 text-left">Avoidance of Partisan Politics Stressed</h4>
                                <h6 class="column small-3 text-right tablet-12">10 March 2016</h6>
                            </div>
                            <div class="row">
                                <div class="column small-9">
                                    <p>We direct your attention to a letter from the National Spiritual Assembly stressing -- for all Bahá'ís – the importance of avoiding partisan politics.
                                        <br>Note that the letter is supplemented by a message from the Universal House of Justice, addressed to the Bahá'ís of Iran and provided in English, Persian, and Spanish. The message, which takes up this same subject,
                                        is commended to your further study and reflection.
                                        <br>All four of the documents are provided in PDF form for your ease of access and printing.</p>
                                </div>
                                <div class="column small-3 text-right tablet-12">
                                    <ul class="plain-list">
                                        <li><a href="">English PDF</a></li>
                                        <li><a href="">English DOC</a></li>
                                        <li><a href="">Spanish PDF</a></li>
                                        <li><a href="">Spanish DOC</a></li>
                                        <li><a href="">Persian PDF</a></li>
                                    </ul>
                                </div>
                        </article>
                    </section>
                    </div>
                    </div>
                    <div class="row">
                        <div class="column large-6 medium-6 small-12">
                            <a href="{% url 'Feast' %}">
                                <h4>Feast</h4>
                            </a>
                            <section>
                                <article id="" class="small-12 article-box">
                                    <div class="row align-middle">
                                        <a href="{% url 'letter' %}" class="column small-9 text-left container">
                                            <h4>Message for the Feast of Rahmat</h4>
                                        </a>
                                        <h6 class="column small-3 text-right tablet-12">June 22, 2017</h6>
                                    </div>
                                    <div class="row">
                                        <div class="column small-9">
                                            <p>We are pleased to make available online—in both PDF and MS Word formats—the National Spiritual Assembly's message for the Feast of Masá’il.</p>
                                            <p>In addition, we are delighted to be able to provide Persian and Spanish translations, both of which are offered in PDF form­—with the Spanish translation also offered in MS Word format.</p>
                                        </div>
                                        <div class="column small-3 text-right tablet-12">
                                            <ul class="plain-list">
                                                <li><a href="">English PDF</a></li>
                                                <li><a href="">English DOC</a></li>
                                                <li><a href="">Spanish PDF</a></li>
                                                <li><a href="">Spanish DOC</a></li>
                                                <li><a href="">Persian PDF</a></li>
                                            </ul>
                                        </div>
                                </article>
                                <article id="" class="small-12 article-box">
                                    <div class="row align-middle">
                                        <a href="{% url 'letter' %}" class="column small-9 text-left container">
                                            <h4>Message for the Feast of Rahmat</h4>
                                        </a>
                                        <h6 class="column small-3 text-right tablet-12">June 22, 2017</h6>
                                    </div>
                                    <div class="row">
                                        <div class="column small-9">
                                            <p>We are pleased to make available online—in both PDF and MS Word formats—the National Spiritual Assembly's message for the Feast of Masá’il.</p>
                                            <p>In addition, we are delighted to be able to provide Persian and Spanish translations, both of which are offered in PDF form­—with the Spanish translation also offered in MS Word format.</p>
                                        </div>
                                        <div class="column small-3 text-right tablet-12">
                                            <ul class="plain-list">
                                                <li><a href="">English PDF</a></li>
                                                <li><a href="">English DOC</a></li>
                                                <li><a href="">Spanish PDF</a></li>
                                                <li><a href="">Spanish DOC</a></li>
                                                <li><a href="">Persian PDF</a></li>
                                            </ul>
                                        </div>
                                </article>
                            </section>
                            </div>
                            <div class="column large-6 medium-6 small-12">
                                <a href="{% url 'Special' %}">
                                    <h4>Special</h4>
                                </a>
                                <section>
                                    <div class="article-box">
                                        <a href="#articleview">
                                            <article class="row">
                                                <div class="column news-img large-2 small-2">
                                                    <img src="{% static 'img/spacecat.png' %}" alt="space cat">
                                                </div>
                                                <div class="column large-10 small-10">
                                                    <h6>Article Title</h6>
                                                </div>
                                            </article>
                                        </a>
                                    </div>
                                    <div class="article-box">
                                        <a href="#articleview">
                                            <article class="row">
                                                <div class="column news-img large-2 small-2">
                                                    <img src="{% static 'img/spacecat.png' %}" alt="space cat">
                                                </div>
                                                <div class="column large-10 small-10">
                                                    <h6>Article Title</h6>
                                                </div>
                                            </article>
                                        </a>
                                    </div>
                                </section>
                            </div>
                            </div>
</main>

<main>
    <div id="message">
        {% for new in new_messages %}
        <section>
            <div class="row">
                <h4 class="column small-12 medium-6 align-start">{{new.title}}</h4>
                <h6 class="column small-12 medium-6 text-end tablet-12">{{new.date}}</h6>
            </div>
            <div class="row">
                <div class="column small-12 medium-8">
                    <p>{{new.summary|safe}}</p>
                </div>
                <div class="column small-12 medium-4 text-end tablet-12">
                    <ul class="downloads">
                        {% for item in new.attachments %}
                        <li>
                            {{item.value.Language}} {% for doc in item.value.Document_list %}
                            <a href="{{doc.url}}">{{doc.title}}</a> {% endfor %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="column small-12 text-end">
                    <button type="button" class="edit button" id="{{new.id}}">Edit</button>
                </div>
            </div>
        </section>
        {% endfor %}
    </div>
</main>

<script>
    $('.edit').click(function() {
        var id = $(this).attr('id');
        return editpage(id);
    });
</script>
{% endblock extra_content %}