{% extends '../factory/base.html' %} 
{% load wagtailcore_tags %} {% load wagtailimages_tags %} {% load static %} 

{% block globalbreadcrumbs %}
 / <a href="{% url 'messages' %}">Messages</a>
{% endblock globalbreadcrumbs %} 

{% block local_header %}
<div class="section_header">
    <div class="row expanded align-middle">
        <span class="column"><a href="{% url 'Universal_House_of_Justice' %}">Universal House of Justice</a></span>
        <span class="column"><a href="{% url 'National_Spiritual_Assembly' %}">National Spiritual Assembly</a></span>
        <span class="column"><a href="{% url 'Feast' %}">Feast</a></span>
        <span class="column"><a href="{% url 'Special' %}">Special</a></span>
        <span class="column">
    <label for="messagessearch"></label>
    <form action="submit">
        <div class="input-group">
            <span class="input-group-label fi-magnifying-glass"></span>
            <input type="text" class="message-search input-group-field col-xs-6" id="messagessearch" placeholder="Search Messages" aria-describedby="Search Messages">
            <a class="input-group-button button plain-button">Search</a>
        </div>
    </form>
    </span>
    </div>
    <button type="button" class="add-page button plain-button">Add Message</button>
</div>

<script>
    $('.edit').click(function() {
        var id = $(this).attr('id');
        return editpage(id);
    });
</script>
{% endblock local_header %}

{% block extra_content %}
{% endblock extra_content %}