{% extends 'messages/messagesbase.html' %}

{% block extra_content %}

<main>
    <div id="message">
        {% for new in new_messages %}
        <section>
            <div class="row">
                <h4 class="column small-12 medium-6 align-start">{{new.title}}</h4>
                <h6 class="column small-12 medium-6 text-end">{{new.date}}</h6>
            </div>
            <div class="row">
                <div class="column small-12 medium-8">
                    <p>{{new.summary|safe}}</p>
                </div>
                <div class="column small-12 medium-4 text-end">
                    <ul class="downloads">
                        {% for item in new.attachments %}
                        <li>
                            {{item.value.Language}} {% for doc in item.value.Document_list %}
                            <a href="{{doc.url}}">{{doc.title}}</a> {% endfor %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="column small-12 text-end">
                    <button type="button" class="edit button" id="{{new.id}}">Edit</button>
                </div>
            </div>
        </section>
        {% endfor %}
    </div>
</main>

<script>
    $('.edit').click(function() {
        var id = $(this).attr('id');
        return editpage(id);
    });
</script>
{% endblock extra_content %}