 {% extends 'messages/messagesbase.html' %}

{% block globalbreadcrumbs %}
<span class="column"><a href="/">Home</a> / <a href="/messages">Messages</a></span> 
{% endblock globalbreadcrumbs %}

{% block extra_content %}
<main>
    <h1>National Spiritual Assembly</h1>
    <article id="" class="small-12 article-box">
        <div class="row align-middle">
            <h4 class="column small-9 text-left container">Avoidance of Partisan Politics Stressed</h4>
            <h6 class="column small-3 text-right">10 March 2016</h6>
        </div>
        <div class="row">
            <div class="coulmn small-9 summary">
                <p>We direct your attention to a letter from the National Spiritual Assembly stressing -- for all Bahá'ís – the importance of avoiding partisan politics.
                    <br>Note that the letter is supplemented by a message from the Universal House of Justice, addressed to the Bahá'ís of Iran and provided in English, Persian, and Spanish. The message, which takes up this same subject, is commended
                    to your further study and reflection.
                    <br>All four of the documents are provided in PDF form for your ease of access and printing.</p>
            </div>
            <div class="coulmn small-3 text-right">
                <ul class="plain-list">
                    <li><a href="">English PDF</a></li>
                    <li><a href="">English DOC</a></li>
                    <li><a href="">Spanish PDF</a></li>
                    <li><a href="">Spanish DOC</a></li>
                    <li><a href="">Persian PDF</a></li>
                </ul>
            </div>
    </article>
    <article id="" class="small-12 article-box">
        <div class="row align-middle">
            <h4 class="column small-9 text-left container">Avoidance of Partisan Politics Stressed</h4>
            <h6 class="column small-3 text-right">10 March 2016</h6>
        </div>
        <div class="row">
            <div class="coulmn small-9 summary">
                <p>We direct your attention to a letter from the National Spiritual Assembly stressing -- for all Bahá'ís – the importance of avoiding partisan politics.
                    <br>Note that the letter is supplemented by a message from the Universal House of Justice, addressed to the Bahá'ís of Iran and provided in English, Persian, and Spanish. The message, which takes up this same subject, is commended
                    to your further study and reflection.
                    <br>All four of the documents are provided in PDF form for your ease of access and printing.</p>
            </div>
            <div class="coulmn small-3 text-right">
                <ul class="plain-list">
                    <li><a href="">English PDF</a></li>
                    <li><a href="">English DOC</a></li>
                    <li><a href="">Spanish PDF</a></li>
                    <li><a href="">Spanish DOC</a></li>
                    <li><a href="">Persian PDF</a></li>
                </ul>
            </div>
    </article>
    <article id="" class="small-12 article-box">
        <div class="row align-middle">
            <h4 class="column small-9 text-left container">Avoidance of Partisan Politics Stressed</h4>
            <h6 class="column small-3 text-right">10 March 2016</h6>
        </div>
        <div class="row">
            <div class="coulmn small-9 summary">
                <p>We direct your attention to a letter from the National Spiritual Assembly stressing -- for all Bahá'ís – the importance of avoiding partisan politics.
                    <br>Note that the letter is supplemented by a message from the Universal House of Justice, addressed to the Bahá'ís of Iran and provided in English, Persian, and Spanish. The message, which takes up this same subject, is commended
                    to your further study and reflection.
                    <br>All four of the documents are provided in PDF form for your ease of access and printing.</p>
            </div>
            <div class="coulmn small-3 text-right">
                <ul class="plain-list">
                    <li><a href="">English PDF</a></li>
                    <li><a href="">English DOC</a></li>
                    <li><a href="">Spanish PDF</a></li>
                    <li><a href="">Spanish DOC</a></li>
                    <li><a href="">Persian PDF</a></li>
                </ul>
            </div>
    </article>
</main>

{% endblock extra_content %}