{% load static from staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/pattern.css' %}">

<ul class="create">
    <li><h3><a href="javascript:parent.createpage('bahaimessages','feastmessagepage',1049)">Create Feast Message</a></h3></li>
    <li><h3><a href="javascript:parent.createpage('bahaimessages','nsamessagepage',1049)">Create National Spiritual Assembly Message</a></h3></li>
    <li><h3><a href="javascript:parent.createpage('bahaimessages','uhjmessagepage',1049)">Create Universal House of Justice Message</a></h3></li>
    <li><h3><a href="javascript:parent.createpage('bahaimessages','specialmessagepage',1049)">Create Special Message</a></h3></li>
</ul>


