{% extends 'messages/messagesbase.html' %} {% block globalbreadcrumbs %} / <a href="{% url 'messages' %}">Messages</a> / <a href="{% url 'Special' %}">Special</a> {% endblock globalbreadcrumbs %} {% block extra_content %}
<main>
    <h1>Special</h1>
    <article id="" class="small-12 article-box">
        <div class="row align-middle">
            <h4 class="column small-9 text-left container">On the Dedication of the Bahá’í House of Worship in Chile</h4>
            <h6 class="column small-3 text-right">22 September 2016</h6>
        </div>
        <div class="row">
            <div class="column small-9 summary">
                <p>We direct your attention to a letter from the National Spiritual Assembly providing up-to-date information on the upcoming dedication of the Bahá’í House of Worship in Santiago, Chile.
                    <br>Details are supplied in the Assembly’s letter.</p>
            </div>
            <div class="column small-3 text-right tablet-12">
                <ul class="plain-list">
                    <li><a href="">English PDF</a></li>
                </ul>
            </div>
    </article>
    <article id="" class="small-12 article-box">
        <div class="row align-middle">
            <h4 class="column small-9 text-left container">On the Dedication of the Bahá’í House of Worship in Chile</h4>
            <h6 class="column small-3 text-right">22 September 2016</h6>
        </div>
        <div class="row">
            <div class="column small-9 summary">
                <p>We direct your attention to a letter from the National Spiritual Assembly providing up-to-date information on the upcoming dedication of the Bahá’í House of Worship in Santiago, Chile.
                    <br>Details are supplied in the Assembly’s letter.</p>
            </div>
            <div class="column small-3 text-right tablet-12">
                <ul class="plain-list">
                    <li><a href="">English PDF</a></li>
                </ul>
            </div>
    </article>
    <article id="" class="small-12 article-box">
        <div class="row align-middle">
            <h4 class="column small-9 text-left container">On the Dedication of the Bahá’í House of Worship in Chile</h4>
            <h6 class="column small-3 text-right">22 September 2016</h6>
        </div>
        <div class="row">
            <div class="column small-9 summary">
                <p>We direct your attention to a letter from the National Spiritual Assembly providing up-to-date information on the upcoming dedication of the Bahá’í House of Worship in Santiago, Chile.
                    <br>Details are supplied in the Assembly’s letter.</p>
            </div>
            <div class="column small-3 text-right tablet-12">
                <ul class="plain-list">
                    <li><a href="">English PDF</a></li>
                </ul>
            </div>
    </article>
</main>

{% endblock extra_content %}