{% extends 'messages/messagesbase.html' %} {% block localbreadcrumbs %}
<li><a href="{% url 'Universal_House_of_Justice' %}"><span class="show-for-sr">Current: </span>Universal House of Justice</a></li>
{% endblock localbreadcrumbs %} {% block extra_content %}
<main>
    <h1>Universal House of Justice</h1>

    <article id="" class="small-12 article-box">
        <div class="row align-middle">
            <h4 class="column small-9 text-left container">Supreme Body Greets Participants in Dedication of Mother Temple of South America</h4>
            <h6 class="column small-3 text-right">14 October 2016</h6>
        </div>
        <div class="row">
            <div class="column small-9 summary">
                <p>We are pleased to make available to you electronically a message from the Universal House of Justice released today, October 14, and addressed to the friends gathered in Santiago for the dedication of the newly completed Bahá’í House of
                    Worship of Chile, the Mother Temple of the South American continent.
                    <br> The message is provided in English and in French and Spanish translations. Additional translations will be posted as they become available.</p>
            </div>
            <div class="column small-3 text-right tablet-12">
                <ul class="plain-list">
                    <li><a href="">English PDF</a></li>
                    <li><a href="">Spanish PDF</a></li>
                    <li><a href="">Persian PDF</a></li>
                    <li><a href="">French PDF</a></li>
                </ul>
            </div>
    </article>
    <article id="" class="small-12 article-box">
        <div class="row align-middle">
            <h4 class="column small-9 text-left container">Supreme Body Greets Participants in Dedication of Mother Temple of South America</h4>
            <h6 class="column small-3 text-right">14 October 2016</h6>
        </div>
        <div class="row">
            <div class="column small-9 summary">
                <p>We are pleased to make available to you electronically a message from the Universal House of Justice released today, October 14, and addressed to the friends gathered in Santiago for the dedication of the newly completed Bahá’í House of
                    Worship of Chile, the Mother Temple of the South American continent.
                    <br> The message is provided in English and in French and Spanish translations. Additional translations will be posted as they become available.</p>
            </div>
            <div class="column small-3 text-right tablet-12">
                <ul class="plain-list">
                    <li><a href="">English PDF</a></li>
                    <li><a href="">Spanish PDF</a></li>
                    <li><a href="">Persian PDF</a></li>
                    <li><a href="">French PDF</a></li>
                </ul>
            </div>
    </article>
    <article id="" class="small-12 article-box">
        <div class="row align-middle">
            <h4 class="column small-9 text-left container">Supreme Body Greets Participants in Dedication of Mother Temple of South America</h4>
            <h6 class="column small-3 text-right">14 October 2016</h6>
        </div>
        <div class="row">
            <div class="column small-9 summary">
                <p>We are pleased to make available to you electronically a message from the Universal House of Justice released today, October 14, and addressed to the friends gathered in Santiago for the dedication of the newly completed Bahá’í House of
                    Worship of Chile, the Mother Temple of the South American continent.
                    <br> The message is provided in English and in French and Spanish translations. Additional translations will be posted as they become available.</p>
            </div>
            <div class="column small-3 text-right tablet-12">
                <ul class="plain-list">
                    <li><a href="">English PDF</a></li>
                    <li><a href="">Spanish PDF</a></li>
                    <li><a href="">Persian PDF</a></li>
                    <li><a href="">French PDF</a></li>
                </ul>
            </div>
    </article>
</main>

{% endblock extra_content %}